[2012-10-26 12:51] dumpweed opened #2 "TypeError: decode() takes no keyword arguments"
$ python edx-dl.py user@user.com 123456
Traceback (most recent call last):
  File "edx-dl.py", line 39, in <module>
    resp = json.loads(response.read().decode(encoding = 'utf-8'))
TypeError: decode() takes no keyword arguments

Environment:
Ubuntu 10.04
Python 2.6.5

Fix:
Change line 39 to:
resp = json.loads(response.read().decode('utf-8'))

[2012-10-26 13:08] suaudeau opened #3 "Download fails with some pages"
This link is correctly processed: https://www.edx.org/courses/BerkeleyX/CS188.1x/2012_Fall/courseware/Week_4/Lecture_6_Adversarial_Search/ (download here: http://pastebin.com/WP3cEtMw)

but in my last week courseware all the links return empty video links.
Example:
https://www.edx.org/courses/BerkeleyX/CS188.1x/2012_Fall/courseware/Week_5/Lecture_8_MDPs/ (download here http://pastebin.com/K4qzhu3u

[2012-11-22 01:48] tiangolo opened #5 "edX added a new "News" HTML "article" element"
edX added a new "News" HTML "article" element to the dashboard and now the program fails to see which are the courses.

In the file "edx-dl.py " that can be solved by changing the line 54 from

[code]

to

[code]

And by the way, many thanks for the program!

[2013-01-29 10:51] #2 closed, assigned to nobody

[2013-01-29 10:52] #3 closed, assigned to nobody

[2013-01-29 10:53] #5 closed, assigned to nobody

[2013-02-21 03:43] shk3 opened #12 "Combining the two files into one compatible for both Python 2 and 3"
Just make a separate issue for the suggestion from rbrito.
We might finish it in future.

[2013-02-22 01:02] #12 closed, assigned to nobody

[2013-04-07 10:04] togaurav opened #16 "IndexError: list index out of range"
Hi Guys
First I would like to thank you for creating such a wonderful script,
actually you saved my precious time.

I tried to download the "CS50x Introduction to Computer Science I"  course content
then I got into a issue, here is stack-trace

You can access 13 courses on edX
1 - CS169.1x Software as a Service -> Started
2 - CS169.1x Software as a Service -> Started
3 - CS169.2x Software as a Ser

[2013-04-07 15:48] ruipcarvalho opened #17 "problem with directory names in windows"
Hi,

I'm having problem with filenames in windows. When edx-dl downloads the files from the course
https://www.edx.org/courses/BerkeleyX/Stat2.1x/2013_Spring/courseware/94d4b5a81e374ccc96496bd1f01e459d/

it is not able to create the directory, because the directory name has the character ':'.

is there a way around this? or am I missing something

Best
Rui

[2013-04-28 18:19] feilong opened #18 "Error with encoding?"
I got an encoding error before downloading starts.
The course link is https://www.edx.org/courses/MITx/6.00x/2013_Spring/ and the error message is as follows:

[code]

[2013-05-07 14:46] duvin opened #19 "video download problem with ER22x"
I get the following error when trying to download ER22x materials:

Traceback (most recent call last):
  File "edx-dl.py", line 185, in <module>
    os.system('youtube-dl -F %s' % video_link[-1])
IndexError: list index out of range

System has python2.7.3

[2013-05-15 15:02] duvin opened #20 "Broken"
Maybe a page change?

Traceback (most recent call last):
  File "edx-dl.py", line 147, in <module>
    data = soup.section.section.div.div.nav
AttributeError: 'NoneType' object has no attribute 'div'

[2013-05-22 18:24] vettukal opened #22 "URLOPEN failed."
Edx-dl is not working for me. Its giving the following log. Thanks

c:\Python33\youtube-dl-master>python edx-dl.py ve****_@gmail.com ***_*
Traceback (most recent call last):
  File "edx-dl.py", line 99, in <module>
    response = urlopen(request)
  File "C:\Python33\lib\urllib\request.py", line 156, in urlopen
    return opener.open(url, data, timeout)
  File "C:\Python33\lib\urllib\request.py", l

[2013-05-27 22:10] ruipcarvalho opened #23 "URLOPEN failed"
![screen](https://f.cloud.github.com/assets/4085173/569905/3c49420e-c71a-11e2-9978-a248fcbf7897.png)

[2013-05-28 04:51] #23 closed, assigned to nobody

[2013-05-31 17:13] vettukal opened #24 "Not fetching course name and crashing while downloading the vids.(follow_edx_change branch)"
I downloaded the file from the branch "follow_edx_change" branch.
Link: https://raw.github.com/shk3/edx-downloader/follow_edx_change/edx-dl.py
Getting this issue while trying run the edx-dl.py. Most probably its failing to fetch the course name and much more.

Thanks.

![edx-issue2](https://f.cloud.github.com/assets/1246832/592211/06e15e64-ca15-11e2-988d-6afc28038757.jpg)

[2013-06-01 03:06] #24 closed, assigned to nobody

[2013-06-01 09:54] #22 closed, assigned to shk3

[2013-06-11 00:05] esantoro opened #27 "Check for errors when downloading videos"
Sometimes i get errors when edx-dl downloads a video.

I think we should check for return code from youtube-dl and maybe restart the download, instead of just forgetting about that and going on...

[2013-06-17 22:00] ruipcarvalho opened #29 "Directory names"
Hi,

In windows, I cannot download the course
 Stat2.1x Introduction to Statistics: Descriptive Statistics
because edx-downloader tries to create a directory name that is invalid (because it includes ':')

I have already submitted this issue some time ago, but it doesn't seem to have been addressed?

[2013-06-21 05:15] #29 closed, assigned to nobody

[2013-06-21 05:15] #17 closed, assigned to nobody

[2013-06-23 05:18] agent001 opened #31 "IndexError: list index out of range"
Used Python 2.7.3, and the latest commit 2755642f73

Enter Course Number: 9
CS50x Introduction to Computer Science I has 12 weeks so far
1 - Download
          Week 0
         videos
2 - Download
          Week 1
         videos
3 - Download
          Week 2
         videos
4 - Download
          Week 3
         videos
5 - Download
          Week 4
         videos
6 - Download
          Week 5

[2013-06-23 06:15] #20 closed, assigned to nobody

[2013-06-23 07:55] #31 closed, assigned to nobody

[2013-07-13 09:50] capatillo opened #32 "double check for video links"
Script not working with renew edX course "CS-169.1x Software as a Service" (just started again).
But if change this line (182):

[code]

to this:

[code]

It's work perfect !

I wish the script can check first regexp, and if nothing found - check the second one.
Thanks.

[2013-08-22 18:05] jnowe opened #33 "error when launching edx-dl.py"
Hello,
When i start edx-dl.py, i have the following issue:
File "edx-dl.py", line 4
    <!DOCTYPE html>
    ^
SyntaxError: invalid syntax
Do you know why? what can i do to solve this?
Thanks for your feedback

[2013-08-28 12:51] mr-nano opened #34 "urllib2.HTTPError: HTTP Error 404: Not Found"
When I try to login I get the following error

Modern Computer@ModernComputer ~/edx-downloader
$ python edx-dl.py dhruvkapur91@gmail.com password
Traceback (most recent call last):
  File "edx-dl.py", line 38, in <module>
    response = urllib2.urlopen(request)
  File "/usr/lib/python2.7/urllib2.py", line 126, in urlopen
    return _opener.open(url, data, timeout)
  File "/usr/lib/python2.7/urllib

[2013-09-08 07:32] #34 closed, assigned to nobody

[2013-09-09 06:55] crypdick opened #35 "404 error on launch"
Just downloaded all the dependencies, cd into the directory, and ran the file

richard$ python ./edx-dl.py <myemail> <mypassword>
Traceback (most recent call last):
  File "./edx-dl.py", line 38, in <module>
    response = urllib2.urlopen(request)
  File "/Applications/Canopy.app/appdata/canopy-1.0.0.1160.macosx-x86/Canopy.app/Contents/lib/python2.7/urllib2.py", line 126, in urlopen
    return _op

[2013-09-09 13:33] #35 closed, assigned to nobody

[2013-09-13 09:34] arpitchauhan opened #36 "Access to 0 courses on edX"
I have been downloading videos using edx-downloader without any problems. It used to show that I had access to 10 courses.

But, suddenly I started getting this message: "You can access 0 courses on edX"

Therefore, I can't download any videos now.

[2013-09-13 14:03] #36 closed, assigned to shk3

[2013-10-12 16:54] java007md opened #37 "Video Quality Option"
Recommend adding an option to download the best available video quality which is now apparently the default behavior for youtube-dl. I modified my local copy of the code to simply bypass the quality option by commenting out the "-f ..." option on the youtube-dl command line.

This should reduce the number of download errors reported.

[2013-10-12 16:57] java007md opened #38 "Week Subdirectories"
Suggested enhancement:

Add the option to save downloads into folders by week. The main benefit is improved organization that matches the course schedule.

Not critical of course, but would be helpful.

Thanks for this great tool!

[2013-10-17 19:01] shk3 opened #40 "More OpenX Course Websites"
More websites use the platform of edX now, such as XuetangX, a Chinese website.
Should we also support them? How can we integrate them into one downloader?
Any idea?

[2013-10-17 20:34] rbrito opened #41 "Make regexp parsing more lenient to URLs"
Implement unit tests for the parsing of URLs via regular expressions, to make them more robust.

[2013-10-17 20:43] rbrito opened #42 "Implement storing user/passwors via netrc"
Like I already do with `coursera-dl`, it would be super hand, as we are trying to support many sites, to store the user credentials in only one standard place (e.g., in `~/.netrc`), as I really have a hard time remembering my own passwords.

[2013-10-18 09:22] dimbeni opened #44 "HTTP Error 500: INTERNAL SERVER ERROR"
Hi,

first and foremost, thanks for this very useful code!

I'm not sure this is a bug with the downloader, it looks to me more of a server bug/problem.
This morning (just after successfully downloading many videos from one of my courses) I tried to download more and got the 500 error. Complete output:

Traceback (most recent call last):
  File "/home/davide/bin/edx-downloader/edx-dl.py", line 285

[2013-10-18 12:51] #44 closed, assigned to nobody

[2013-10-29 01:57] sajee opened #45 "IndexError: list index out of range"
$ python edx-dl.py
Username: <my email address>
Password:

Traceback (most recent call last):
  File "edx-dl.py", line 390, in <module>
    main()
  File "edx-dl.py", line 222, in main
    data = soup.find_all('ul')[1]
IndexError: list index out of range

[2013-11-05 21:07] borgrodrick opened #48 "Encoding error"
I was getting the following error when downloading the subtitles for some edx videos.

Traceback (most recent call last):
  File "edx-dl.py", line 380, in <module>
    main()
  File "edx-dl.py", line 375, in main
    open(os.path.join(os.getcwd(), subs_filename)+'.srt', 'w+').write(subs_string)
UnicodeEncodeError: 'ascii' codec can't encode character u'\u2019' in position 868: ordinal not in range

[2013-11-05 22:38] MarwanShehata opened #50 "two different errors for the same course"
Hi ! :)

I saw your work on Github and I'm so amazed of you high programming
skills , so I just need some help from you

when I use edx-downloader it gives me the following ,I used Git Bash
and it gave me errors and I couldn't solve  :
http://i.imgur.com/fjUwvnI.jpg

when I used the normal Windows cmd I've got this :
http://i.imgur.com/YjJP4Cz.jpg

BUT I tried to download another course from edx a

[2013-11-07 19:26] #50 closed, assigned to nobody

[2013-12-12 20:23] lenberman opened #51 "unicode characters in course names"
Using python 2.7, it fails when printing list of available courses.  Workaround is

sys.stdout = codecs.getwriter(locale.getpreferredencoding())(sys.stdout)

just before that loop.

[2013-12-12 20:28] lenberman opened #52 "failure in uptodate Debian with python 2.7"
Strangely, it stopped working for me a while ago with this error.

[download] Saving videos into: ./Downloaded/
Traceback (most recent call last):
  File "edx-dl.py", line 387, in <module>
    main()
  File "edx-dl.py", line 348, in main
    popen_youtube = Popen(cmd, stdout=PIPE, stderr=PIPE)
  File "/usr/lib/python2.7/subprocess.py", line 679, in **init**
    errread, errwrite)
  File "/usr/lib/

[2013-12-22 00:20] xl0 opened #53 "Crash after downloaing some videos."
While trying to download "SPU27x Science Cooking From Haute Cuisine to Soft Matter Science" in 720x1280, the program crashed with the following traceback:
[download] 100% of 59.66MiB in 01:35.89KiB/s ETA 00:00
[download] ed-x subtitles: /home/xl0/work/mooc/edx/edx-downloader/../courses/SPU27x Science  Cooking From Haute Cuisine to Soft Matter Science/113-HARSPU27T313-G010900_100.srt
[youtube] Sett

[2013-12-25 02:55] #48 closed, assigned to nobody

[2013-12-25 06:17] #51 closed, assigned to nobody

[2013-12-25 06:18] #33 closed, assigned to nobody

[2013-12-25 06:18] #32 closed, assigned to nobody

[2013-12-25 06:19] #19 closed, assigned to nobody

[2013-12-26 06:39] shk3 opened #57 "Clean up the messages sent to users & Use logging module to inform the user"
In this way, users can change the level of information they want to see. It can also help run in a non-interactive way.

[2013-12-26 10:26] bat-ventzi opened #58 "Syntax error"
I've just redownloaded the current version to test a fixed issue, but this error appeared.

Download subtitles (y/n)? y
[download] Saving videos into: Downloaded
[youtube] Setting language
[youtube] YTGNNCmWqh0: Downloading webpage
[youtube] YTGNNCmWqh0: Downloading video info webpage
[youtube] YTGNNCmWqh0: Extracting video information
[download] Destination: Downloaded/8.01x Classical Mechanics/0

[2013-12-26 17:37] #58 closed, assigned to nobody

[2013-12-28 23:08] #18 closed, assigned to nobody

[2013-12-29 22:47] dmehling opened #61 "cannot run python edx-dl.py"
First, thanks for developing this project.  It will be very useful to me.  Unfortunately I am unable to run python edx-dl.py .  I have correctly installed youtube-dl and BeautifulSoup4, but I'm not sure what to do with edx-dl.py .  I get a syntax error message when I try to run it, and it seems to refer to something in line 4 of the file.  I have virtually no prior experience with python, so I rea

[2013-12-30 00:12] #61 closed, assigned to nobody

[2013-12-30 18:51] dmehling opened #62 "error when attempting to download"
I am having difficulty downloading course videos, which seems to have something to do with youtube-dl.  After choosing the videos I want to download, the script spends several minutes processing the URLs to download, but then I get the following error message:

'youtube-dl' is not recognized as an internal or external command, operable program or batch file.

I'm not sure what exactly is the probl

[2013-12-31 14:42] iemejia opened #63 "Invalid path for subtitles"
Subtitles are being downloaded to the current user folder and not to the configured destination as videos are.

[2013-12-31 14:50] #63 closed, assigned to nobody

[2014-01-01 15:22] Dowwie opened #65 "Failing when accessing archived course: BE101x Behavioural Economics in Action"
This course is archived.

I'm receiving the following error when I select the course from the course list in edx-dl.py:

Traceback (most recent call last):
  File "edx-dl.py", line 377, in <module>
    main()
  File "edx-dl.py", line 257, in main
    w.ul.find_all('a')]) for w in WEEKS]
AttributeError: 'NoneType' object has no attribute 'string'

[2014-01-02 16:52] iemejia opened #66 "Error downloading videos who are not in the chosen format"
Many courses (e.g. 8.01x Classical Mechanics, SPU27x Science & Cooking. BE101x Behavioural Economics) have videos who are in different formats, when youtube-dl finds those videos it breaks, and those videos aren't downloaded.

[2014-01-02 17:10] #37 closed, assigned to nobody

[2014-01-02 17:12] #16 closed, assigned to nobody

[2014-01-02 17:22] #45 closed, assigned to nobody

[2014-01-02 17:25] #52 closed, assigned to nobody

[2014-01-02 17:25] #62 closed, assigned to nobody

[2014-01-02 20:19] bat-ventzi opened #68 "Can't download subtitles"
After downloading the first video. Some commits ago I was able to download all subtitles in the course but one. Now I can't download any of them.

Tested with 4d53e258993dae4fbd9b674e9738c8c3197d643e

[youtube] Setting language
[youtube] YTGNNCmWqh0: Downloading webpage
[youtube] YTGNNCmWqh0: Downloading video info webpage
[youtube] YTGNNCmWqh0: Extracting video information
[download] Destination:

[2014-01-02 22:38] #66 closed, assigned to nobody

[2014-01-03 01:20] iemejia opened #70 "Support different logging levels or a debug option"
It would be nice to include a debug option to ease development, and to have better input from the users when they report issues.

[2014-01-03 02:53] #57 closed, assigned to nobody

[2014-01-03 06:05] rbrito opened #71 "Stop committing things and decide the vision of the project"
I would like to, in a very similar fashion of what Guido van Rossum once asked of the Python developers, to suggest that we take a moratorium on new commits and, first, decide *what* we think and agree is the role of the project.

In particular, I would like to see many things addressed:

* The current documentation sucks. Badly. And I'm not only referring to the English parts of it. I am not a na

[2014-01-03 13:59] #65 closed, assigned to nobody

[2014-01-16 19:52] bat-ventzi opened #73 "Just letting you know about this feature in edX"
I have writed edX to make such a button to download subtitles form. And maybe they did it or it is made by the course maintainers. The course is "RiceX: PHYS102x Electricity & Magnetism"

![screenshot](https://f.cloud.github.com/assets/6256078/1934211/3f63c858-7ee7-11e3-95d8-78535651cae7.jpg)

[2014-01-21 09:58] bharatmukkala opened #74 "how to use this code for downloading videos from Open edx used by stanford . Thank you"

[2014-01-25 20:59] hyperluz opened #76 "Not downloading videos and subtitles hosted on S3 Amazon (AWS)"
Works fine with youtube vídeos.
But didn't find and didn't download videos and subtitles hosted on amazon.

For now, I can right-click on the videos and download them manually.
But I'm more interested on the subtitles.

Is there a default url for the subs that I can make with the video url at hand?

TIA

edit: fixed some typos in my message.

[2014-01-27 09:16] balta2ar opened #77 "Merge edx-downloader with coursera-dl or create mooc-dl"
Hello. I'm probably not the first one to come up with this idea but to me it seems to be a very logical next step. There are two distinct projects that do basically the same but on different MOOC platforms. Support for these platforms sounds like a good code modularization challenge, it would also be a good programming style. coursera-dl looks more advanced in terms of different kind of optimizati

[2014-01-28 19:27] nilesh-patil opened #78 "Certificate verify failed due to youtube-dl"
On running the script,it throws an error:

tested with; 07ddc8f0a9

[youtube] Setting language
WARNING: unable to set language: urlopen error [SSL: CERTIFICATE_VERIFY_FAILED]  certificate verify failed (_ssl.c:550)

[youtube] LvaTokhYnDw: Downloading webpage
ERROR: Unable to download webpage: urlopen error [SSL:CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:550)

![capture](https://f

[2014-01-30 05:24] meeotch opened #79 "Invalid os.path Results for AbsPath in cygwin"
When using edx-dl under cygwin on windows, downloading subtitles while using an absolute destination path breaks, with a screwball path at what is currently line 385:

open(os.path.join(os.getcwd(), subs_filename),
         'wb+').write(subs_string.encode('utf-8'))

The path it's trying to write to is a concatenation of the cwd and the absolute path target_dir/filename.srt - so something like this

[2014-01-31 08:25] Hybrid-SyntaX opened #80 "Retry the failed videos a few times (Videos are downloaded randomly and some are skipped!)"
First of all thanks for such a great script it literally saved my life.

I've been having this problem that videos get downloaded randomly and even some are skipped, and it finishes before all videos are downloaded; so I have to run the script several (I guess it's been more than 20 times by now) times to download all the videos.

For information my internet connection speed is 512kbps and I've be

[2014-02-03 21:40] maxdd opened #81 "'charmap' codec can't encode character u'\u2013' in position 28: character maps to <undefined>"
You can access 19 courses
1 - CS-184.1x Foundations of Computer Graphics -> Started
2 - CS.169.2x Software as a Service, Part 2 (rev Fall 2013) -> Started
3 - CS188.1x Artificial Intelligence -> Started
4 - CS169.1x Engineering Software as a Service -> Not yet
5 - CS169.2x Engineering Software as a Service, Part 2 -> Not yet
6 - AE1110x Introduction to Aeronautical Engineering -> Not yet
7 - BIO46

[2014-02-13 07:35] eadlam opened #82 "Downloading from the edx platform breaks on the "Getting Available Weeks" step"
On the edx platform, after selecting the course I want to download, I get this error:

[code]

It seems that the page structure has changed and is breaking the "Getting Available Weeks" step.

[2014-02-13 20:43] #78 closed, assigned to nobody

[2014-02-14 04:51] #82 closed, assigned to nobody

[2014-02-14 04:53] #74 closed, assigned to nobody

[2014-02-14 17:47] maxdd opened #84 "unknown url type: %s" % self.__original"
[download] Destination: Downloaded\16.101x Introduction to Aerodynamics\07-NASA
video - centroid (centre of gravity) of aircraft.mp4
[download] 100% of 37.47MiB in 00:1898MiB/s ETA 00:0036
Traceback (most recent call last):
  File "C:\Python27\edx-downloader\edx-dl.py", line 403, in <module>
    main()
  File "C:\Python27\edx-downloader\edx-dl.py", line 381, in main
    subs_string = edx_get_subti

[2014-02-17 15:56] ulikando opened #85 "Not downloading from Stanford (problem at line 285)"
Hi. I was getting the following issue after choosing a course hosted on stanford:

Traceback (most recent call last):
  File "edx-dl.py", line 405, in <module>
    main()
  File "edx-dl.py", line 289, in main
    WEEKS = data.find_all('div')
AttributeError: 'NoneType' object has no attribute 'find_all'

I have found that the aria-label="Course Navigation" is a "section" element on the page coming

[2014-02-22 01:33] #85 closed, assigned to shk3

[2014-02-22 01:37] rbrito opened #88 "Extract constants to an appropriate module"
We should get rid of all the `global` declarations. If we really need to have access to global state, that should be kept in an object that should be passed as an argument to the functions that need it.

[2014-02-22 01:40] rbrito opened #89 "The program should detect which platform to download from"
It is tiresome (and error prone) for humans to have to specify the "platform" (do they even know what a platform is? Aren't they all using the edX platform after all?).

The program should infer that from the URL that the users give it and use the appropriate measures to download the videos from the site.

[2014-02-22 01:55] rbrito opened #90 "Merge my changes from https://github.com/rbrito/edx-dl"
I think that the code that I have in https://github.com/rbrito/edx-dl is, while very deficient in terms of features, superior in some ways in terms of implementation regarding the current master branch.

I propose it to be taken as the basis of the development version of edx-downloader (which I took liberty to rename to edx-dl), to, eventually, become the next version of edx-downloader.

The longe

[2014-02-25 06:06] crypdick opened #91 "encode() takes no keyword arguments"
edx-dl decided to stop working today.

(I'm not sure if this is related but I'm including it in case) First, after entering my password the script spat out

[code]

Following this comment https://github.com/shk3/edx-downloader/issues/45#issuecomment-29261286 I ran `pip install lxml`. Now I'm getting this new error (same step):

[code]

I get the above error whether or not I edit line 256 from `sou

[2014-02-26 16:47] #91 closed, assigned to nobody

[2014-02-27 06:07] crypdick opened #92 "Can't download any courses: 'NoneType' object has no attribute 'group'"
I am pretty sure this is not a duplicate of issue #53  but apologize if it is.

I have started to experience the `AttributeError: 'NoneType' object has no attribute 'group'` error on a edX course which, up to now, has not given me errors (BIO465x Neuronal Dynamics). I have the first 46 videos (into week 7).

When I run the script now this is what I get:

[code]

Just for reference, issue #53 has t

[2014-03-03 09:45] tomaximum opened #95 "adding another openedx platform : "https://www.france-universite-numerique-mooc.fr""
Hi,
I'm a total noob in python, i tried to add "https://www.france-universite-numerique-mooc.fr" which run on openEdx platform to my edx-dl.py :

OPENEDX_SITES = {
    'edx': {
        'url': 'https://courses.edx.org',
        'courseware-selector': ('nav', {'aria-label':'Course Navigation'}),
    },
    'stanford': {
        'url': 'https://class.stanford.edu',
        'courseware-selector': ('se

[2014-03-04 22:14] ciroiriarte opened #97 "MIT platform"
Hi!, I'm trying to add support for edge.edx.org, but after adding the URL I see this error (I was able to authenticate):

Enter Course Number: 1
Traceback (most recent call last):
  File "./edx-dl.py", line 418, in <module>
    main()
  File "./edx-dl.py", line 302, in main
    WEEKS = data.find_all('div')
AttributeError: 'NoneType' object has no attribute 'find_all'

Any ideas?

[2014-03-05 02:32] #92 closed, assigned to nobody

[2014-03-07 12:15] zh217 opened #100 "Crashes when non-ascii unicode character is encountered"
If you have this course in your dashboard: Louv3.01x: Découvrir la science politique, then the downloader will crash:

[code]

[2014-03-08 09:14] maxdd opened #101 "Completed Flag"
Hello there,
I would like to see (if it's not a problem) the flag "Course Completed" in the courses menu =)

[2014-03-08 09:18] maxdd opened #102 "HTML material"
is there a way to download the material embedded in the page?

For example course MITx: 16.101x Introduction to Aerodynamics has lots of explanations and questions on its courseware.

[2014-03-10 05:23] dustyhorizon opened #103 "Option to add download materials"
Possible on a feature to download accompanying lecture slide (if any) for that particular chapter/video? Basically to have the whole course on file.

[2014-03-13 14:43] Xiaohong-Deng opened #105 "#85 for stanford platform again"
https://github.com/shk3/edx-downloader/issues/85
See above. Seems Stanford changes "section" back to "nav". So editting line 59 will do.

[2014-03-14 20:11] dummyano opened #106 "Youtube-dl crash on unicode error / Videos wrongly numbered on bulk download"
Hi, thank you so much for edx-dl :) saves me a lot of time.

Trying to download "8.01x Classical Mechanics" from edx
using latest version as of today (14 March 2014)
"edx-dl.py  Fix #92 Updated subtitle URL string after edx changes.  11 days ago"

I've had
1. a youtube-dl crash that may be related to special characters in filename
2. a script bug, where video downloaded bulk, i.e. selecting "Downl

[2014-03-16 17:47] chungwy opened #107 "IndexError: list index out of range"
I got this error when running 'edx-dl.py':

Traceback (most recent call last):
  File "edx-dl.py", line 414, in <module>
    main()
  File "edx-dl.py", line 261, in main
    data = soup.find_all('ul')[1]
IndexError: list index out of range

I use Max OS X (10.8.5) and already installed the required software to run the program.

I'd appreciate your help.

[2014-03-25 01:09] SoulFireMage opened #108 "Appears to download Louv1.01 but does not"
Edx course Louv1.01 - shows youtube links being processed but at the end, despite no errors, there are no video or content?

[2014-03-30 06:23] lodhaakash07 opened #109 "Video time 0:0 min"
It downloads the video. but when i play the video its just 0:0 minutes.
Video size is not zero.

Only the .mp4 extension has the problem

[2014-03-31 19:10] dmehling opened #110 "error in code"
I am getting an error message for every course I try to download lectures from.  Here is the message as it appears in my command prompt:

Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\Douglas>CD C:\python27

C:\Python27>edx-dl.py
Username:
Password:
Welcome
You can access 9 courses on edX
1 - ENGRI1280x Wiretaps to Big Data -> Starte

[2014-04-05 18:11] Xiaohong-Deng opened #112 "subs downloading error"
I soptted this issue when I was downloading UT.5.01x LAFF. Not quite the same issue as #92(which was fixed in #96), since this time error on downloading subs doesn't interrupt the whole download process.
error message is simple
```[warning] edX subtitles (error:)```
Not sure if this is a special case

[2014-04-07 15:30] gaox-qd opened #113 "Unicode Encode error"
Could anyone help me to solve the following error？
![image](https://cloud.githubusercontent.com/assets/7202954/2632951/22eb21be-be69-11e3-8712-a0331148aa6d.png)

[2014-04-08 20:18] #113 closed, assigned to nobody

[2014-04-08 20:19] #100 closed, assigned to nobody

[2014-04-14 08:55] Xiaohong-Deng opened #114 "Subs can't be downloaded"
I read the code. I think the function **get_filename()**  doesn't return any string. I failed to trace back any further.
[code]

[2014-04-15 17:33] #106 closed, assigned to nobody

[2014-04-17 11:37] HLTorres opened #115 "Can't download edx subtitles (error:Bad Request)"
Hi,
I can't download the subtitles.
This week I tried to download subtitles that I already downloaded before and the error is the same:
[warning] edX subtitles (error:BAD REQUEST)

I think something has changed in the edx website.

Thanks.

[2014-04-18 09:18] colablikje opened #116 "'NoneType' object has no attribute 'section' (line 386/249)"
Hi, regardless of which course I atte,pt to download, I receive the following error:
(e.g., for course 15)

Enter Course Number: 15
Traceback (most recent call last):
   File "edx-dl.py", line 386, in <module>
      main()
   File ""edx-dl.py", line 249, in main
      {"class": "content-wrapper"}).section.div.div.nav
AttributeError: 'NoneType' object has no attribute 'section'

I get this error, r

[2014-04-30 13:52] mukultrav opened #117 "not able to download video if subtitle request provides an error of BAD REQUEST"
previous two videos were downloaded correctly but the third video is not downloaded due to some datatype error. Although Ithe second video also had the BAD ReQUEST error for subtitles but it downloaded just fine. Here is my terminal window code:

Destination: Downloaded/6.00.2x Introduction to Computational Thinking and Data Science/33-M-600X-FA12-L17-6v2_100.mp4
[download] 100% of 39.51MiB in 00:

[2014-05-04 07:50] mlteppi opened #118 "Error at the beginning of the script - Can not see the list of my registered courses"
I used the last version of the script. The issue happens when I typed:

python edx-dl.py -u my_username -p my_password

It raises an issue:

Traceback (most recent call last):
  File "edx-dl.py", line 437, in <module>
    main()
  File "edx-dl.py", line 290, in main
    c_name = COURSE.h3.text.strip()
AttributeError: 'NoneType' object has no attribute 'text'

[2014-05-05 01:33] zenfocus opened #119 "Unable to set download webpage, unknown protocol error"
![capture](https://cloud.githubusercontent.com/assets/7232262/2874649/97ff5272-d3f4-11e3-9f45-ead8cf84e33f.PNG)

I have installed the latest version of youtube-dl.
I have also executed the youtube-dl call with the '--verbose' parameter.
I get this error for all the courses.
Also I am unable to select the format code from a list.

[2014-05-17 08:16] peterlazar1993 opened #120 "Error in setting download directory"
Processing 'https://courses.edx.org/courses/TUMx/AUTONAVx/2T2014/courseware/5354
51105f364d2e852366ed8204cf68/0dfbcaaa4547460f80474a0918a70016/'...
Processing 'https://courses.edx.org/courses/TUMx/AUTONAVx/2T2014/courseware/5354
51105f364d2e852366ed8204cf68/5fb8ffcb3e36484ea06deff70b734be5/'...
Processing 'https://courses.edx.org/courses/TUMx/AUTONAVx/2T2014/courseware/5354
51105f364d2e852366ed820

[2014-06-12 13:41] aspergerish opened #121 "Unable to download GP202 on Stanford"
[code]

[2014-06-14 14:13] koper89 opened #122 "8.02x (Electricity and Magnetism) it only downloads first video in each lecture"
Hi, I have a problem with download 8.02x, It only downloads 1st videon in each lecture
f.e. 01-M-802X-SP13-01-1_100 (and it didn't download 02-M-802X-SP13-01-2_100 etc etc) but goes straight to:
02-M-802X-SP13-02-1_100
I found that on edx I need to aproach answers before I can see video but i did it for all of them for all lectures (just to be able to download it, but it still downloads only first

[2014-06-21 02:35] #121 closed, assigned to nobody

[2014-06-22 10:20] raluar opened #123 "IndexError: no such group (code location identified below)"
Script works fine until moment of download:
1. I select from the list of courses displayed the course "6.00.1x Introduction to Computer Science and Programming Using Python -> Started" to download

Enter Course Number: 21
1. I ask to download all

Enter Your Choice: 15

and then I get this:

Traceback (most recent call last):
  File "C:\Users\Raluar\Documents\SI\3. Education\10. MOOC\edX_downloade

[2014-08-06 20:59] mgorotiza opened #126 "UnicodeDecodeError"
I was able to download the first three weeks of Harvard's CS50 successfully and then got this error:

[download] Destination: Downloaded/CS50x Introduction to Computer Science/88-VigenTraceback (most recent call last):
  File "edx-dl.py", line 445, in <module>
    main()
  File "edx-dl.py", line 413, in main
    print(tmp, end="")
  File "edx-dl.py", line 103, in print
    texts.append(original_te

[2014-08-11 22:38] osoba opened #128 "Python error on Stanford platform (multiple courses)"
http://i.imgur.com/PJqXyOu.png
http://i.imgur.com/snIfgNo.png

[2014-08-25 15:29] mjbright opened #129 "Unable to access OpenEdx site https://openedx.seas.gwu.edu"
I've been using this script for a short while now for Edx - thanks very much for this.

I tried extending it to cover this new site, so I added code to handle 'gwu'

   'gwu': {
        'url': 'https://openedx.seas.gwu.edu',
        'courseware-selector': ('nav', {'aria-label':'Course Navigation'}),
    },

But when I run the script in the same way I do for courses.edx.org, I get a timeout.
Any su

[2014-10-23 15:28] #123 closed, assigned to nobody

[2014-10-28 23:21] marcusdeman opened #132 "No subtitle download and numbering of files when redownload"
1. I tried the script but no subtitles are downloaded

2. When I downloaded all weeks and afterwards choose to redownload a certain week again then the numbering of that certain week will start with 1 again.

Perhaps it would be better to seperate videos in the different weeks
Also a feature skipping videos that are already downloaded

3. when I don't enter a number with the menu it gives the foll

[2014-10-29 21:19] brangnu opened #133 "soup.pretty() invalid syntax"
I got this error when I tried to run the script with python3

Traceback (most recent call last):
  File "edx-downloader.py", line 3, in <module>
    from bs4 import BeautifulSoup
  File "/Users/brangnu/edx-downloader/bs4/**init**.py", line 328
    print soup.prettify()
             ^
SyntaxError: invalid syntax

How should I fix this?

[2014-10-29 21:52] #133 closed, assigned to nobody

[2014-10-29 22:39] nshung opened #134 "Stanford login"
I cannot log in into stanford edx account. See the error message below.

Traceback (most recent call last):
  File "edx-dl.py", line 449, in <module>
    main()
  File "edx-dl.py", line 293, in main
    USERNAME = data.find_all('span')[1].string
IndexError: list index out of range

Any suggestions on how to fix this?

[2014-11-15 16:23] 2sammd301 opened #135 "Need help downloading the course materials html content not just the videos..."
On coursera I am to download the course materials as pdf and the videos too. But on I am only able to download just the videos. Could someone who knows how to use python create a new script that can also download the course content as well as the videos. I am looking to use edx in offline mode since my internet connection is not very reliable most of the time. Thanks so so much.

[2014-11-21 13:55] #135 closed, assigned to nobody

[2014-12-20 05:00] coiby opened #137 "can't parse WEEKS when the user's language is not English"
The nav is seleteced according to the rule ```'courseware-selector': ('nav', {'aria-label':'Course Navigation'})```. If the user sets language to other language, for example Chinese, 'Course Navigation' becomes '课程导航'.

[2014-12-22 09:24] chenzixi07 opened #138 "problem with #131"
I'm using the code of #131 .successfully login but couldn't download.

Enter Course Number: 2
Traceback (most recent call last):
  File "edx-dl.py", line 449, in <module>
    main()
  File "edx-dl.py", line 329, in main
    WEEKS = data.find_all('div')
AttributeError: 'NoneType' object has no attribute 'find_all'

I'm not familiar with python, anybody know what's the problem?

[2015-01-07 00:18] oyeyemi opened #140 "TypeError: unsupported operand type(s)"
I got this error using the latest script. Please can you help fix it.

Traceback (most recent call last):
  File "edx-dl.py", line 449, in <module>
    main()
  File "edx-dl.py", line 425, in main
    subs_filename = os.path.join(target_dir, filename + '.srt')
TypeError: unsupported operand type(s) for +: 'NoneType' and 'unicode'

[2015-01-09 14:50] snoww0lf commented on #81
try to use .encode('ascii', 'ignore') , but it just throws and won't shown the non-ascii characters.

[2015-01-10 08:46] abhy3 opened #141 "Timeout Error - when using 'Download them all' option"
When trying to download all the videos form 'Download them all' option then getting following error after some time:

TimeoutError: [WinError 10060] A connection attempt failed because the connected
party did not properly respond after a period of time, or established connection failed because connected host has failed to respond

![timeout error](https://cloud.githubusercontent.com/assets/1047392

[2015-01-11 12:38] Rinfore opened #142 "Unsupported operand type(s) for +: 'NoneType' and 'unicode' with SW12.4 ChinaX Part 4 A New National Culture from HarvardX and UnicodeDecodeError with SW12.4 ChinaX Part 6"
[download] Downloaded/SW12.4x ChinaX Part 4 A New National Culture/17-HARSW12XT313-G028400_100.mp4 has already been downloaded
[youtube] zwr64zgqrcI: Downloading webpage
[youtube] zwr64zgqrcI: Extracting video information
[youtube] zwr64zgqrcI: Downloading DASH manifest
[download] Downloaded/SW12.4x ChinaX Part 4 A New National Culture/18-HARSW12XT313-G028500_100.mp4 has already been downloaded
**

[2015-01-14 04:31] amdot2010 commented on #120
Hi peterlazar1993,

I am also getting the same output and nothing is downloaded.

Did you find any way to solve this problem.?

Thanks

[2015-01-14 06:56] peterlazar1993 commented on #120
I didn't fix it per say but working on a clean script I got it to work on Arch Linux, I do not know what fixed it.

[2015-01-19 15:36] chenzixi07 commented on #138
problem solved
just change edx language to English

[2015-01-19 15:36] #138 closed

[2015-01-20 03:31] the-c0d3r opened #143 "Unicode Decode Error"
Latest

[code]

Screenshot : ![Imgur](http://i.imgur.com/8K5nFx7.png)

I was downloading CS50x course from Edx.org And this happens always at the same file. Other courses are fine. Is it because of the subject material? Even if I re-download the 12th week materials, the file with the name 86 is always missing. Or because of the uniq file names generated by the program? I'm sorry if the issue is al

[2015-01-24 05:14] #134 closed

[2015-02-05 06:16] djdylan2000 opened #145 "OSError: [Errno 2] No such file or directory"
After running the script, entering username & password, choosing the course and videos to download. I am asked to choose the format.... after choosing the format, I get an error. I am pasting the lines from the format selection onwards:

18          mp4       640x360
22          mp4       1280x720    (best)
Choose a valid format or a set of valid format codes e.g. 22/17/...
Choose Format code: 18

[2015-02-07 07:23] swayson commented on #145
+1 I get the same error

[2015-02-07 07:54] swayson commented on #145
I was able to solve this issue.

Make sure to have ```youtube-dl``` installed.

[2015-02-07 08:05] djdylan2000 commented on #145
I have it installed.
Copy pasting from terminal:

Dylans-MacBook-Air:edX Dylan$ which youtube-dl
/usr/local/bin/youtube-dl

[2015-02-10 18:23] frymor opened #147 "except ImportError:"
Hi,

Iam trying to download some videos from edx.
I have installed youtube-dl and BeautifulSoup4. I am working on python 2.7.6.
I have downloaded the file edx-dl.py onto my Ubuntu machine and tried to run it.

But the dl file is not running. I am getting this messege:

File "edx-dl.py", line 10
    except #ImportError:
         ^
SyntaxError: invalid syntax

Waht am doing wrong here?

thanks
Assa

[2015-02-13 16:40] pmitros opened #148 "Transcript URL is incorrect"
edX transcripts are at `.../handler/transcript/translation/en`, not `.../handler/transcript/translationen`. The later URL works due to a bug in the Open edX codebase, combined with a matching bug in edx-downloader. Worth fixing:

1. I doubt it will work forever....
2. We do log and analyze what users do. If users go through a URL like this, the pipeline handles it a bit funny, and the model for th

[2015-02-14 10:29] iemejia commented on #148
Hello,

Wow !, I am impressed we are talking with one of the creators of
edx. Thanks for your creation :). It is nice to see that you care
about our tiny 'lo-fi' script. Thanks a lot for the report, this bug
was my mistake. I just created a small fix.

I would love to see if we can collaborate somehow (e.g. to have a more
convenient process to download the material (videos, pages, etc), or
to know

[2015-02-14 13:46] achamess opened #150 "line 305, in main TypeError: 'NoneType' object is not subscriptable"
Traceback (most recent call last):
  File "edx-dl.py", line 453, in <module>
    main()
  File "edx-dl.py", line 305, in main
    c_link = BASE_URL + COURSE.a['href']
TypeError: 'NoneType' object is not subscriptable

[2015-02-14 13:48] achamess commented on #150
I should mention, this is for edx. Stanford works fine.

[2015-02-14 17:45] iemejia commented on #150
do you have more concrete information, e.g. which course in particular doesn't work ?

[2015-02-14 17:46] iemejia commented on #147
Looking at the code it seems you have an issue with the '#' symbol before, maybe it is a typo in the script.

[2015-02-14 17:50] achamess commented on #150
Hi. I never got to the part where it asks me to select a course. This is
the first thing that appears after I give my login credentials.

On Sat, Feb 14, 2015 at 12:45 PM, Ismael Mejia <notifications@github.com>
wrote:

[2015-02-14 22:04] pmitros commented on #148
I'll give approximate numbers which I can grab from aggregate data: Nearly 300,000 hits from edx-downloader from a bit over a thousand unique IPs. Users do log in from multiple IPs, and do share IPs, but that should give a ballpark. Doing this on a per-user basis would be a little bit cumbersome (at least on a weekend).

We are building out a range of APIs in order to be able to do this which woul

[2015-02-16 18:05] rbrito commented on #147
Hi, @frymor.

Indeed, the extra `#` character there is a syntax error, but we don't seem to have that in our repository. Did you change your script locally?

I am closing this bug, as it seems to be unrelated to our code. Grab a new version of the script and, if any problem persists, please open a new issue.

Thanks.

[2015-02-16 18:05] #147 closed

[2015-02-16 19:40] frymor commented on #147
Hi,

I am sorry. The ‘#' symbol was added by me after the original version showed this error message. I have mistakenly copied the wrong version of my try. But the error message happens also, when the ‘#' is not there.

I don’t know why it happens. I tried the same script on my iMac (Yosemite) and it works just fine.

thanks anyway,

Assa

——

Dr. Assa Yeroslaviz
Max Planck Institute for Biochemis

[2015-02-17 12:02] iemejia commented on #148
Thanks a lot for the stats, the API information and the other links (I
didn't even know that there is a mobile app now). I have to check the
official API to see in detail what is available, but it seems there is
a almost everything we need. Nice.

I have to check in more detail the other edx-related projects, but I
expect that the growing ecosystem will give us ideas to improve our
tool. Thanks ag

[2015-02-17 12:31] iemejia commented on #150
can you tell me which version of python and beautifulsoup are you using ?
and additionally can you add a line to try to print the value of the variable COURSES in line 302 ?

[2015-02-17 14:14] pmitros commented on #148
The mobile app has intentionally not been widely advertised yet. Only some courses are mobile-enabled right now, and the app is a bit past beta, but we're intentionally not going for a broad deploy until we've moved things along a little bit further.

What I'd actually love to see is an RSS feed of course videos, and have that feed into the mobile app (instead of the current API), edx-downloader,

[2015-02-17 22:08] fos666 commented on #95
hello,

i've tried this type of change, and i see that it works only if FUN language is set to english, if it is on french, i received an error
so the script check links on the course but at this time i don't know how to download dmcloud video, neither attached files like course PDF, txt and others, do you have a solution (i'm lower than a noob in python, sorry)

thanks a lot for your help
regards

[2015-02-18 09:20] girishpadia opened #153 "Download Video of certian format"
This is excellent application is what I am looking for. But downloading Video is too slow.

[2015-02-18 13:34] iemejia commented on #148
Why is it hard to do (at production quality) the RSS feed ? priorities
? or lack of resources (hardware: heavier server use / human:
programmers, more maintenance) ? I ask because it doesn't seem to me
that difficult to do a RSS feed per course. On the other hand if you
do personalized rss feeds, e.g. user * course + video viewing
progress, it can get harder to do, but still not too hard with what

[2015-02-18 15:15] pmitros commented on #148
RSS feed is straightforward and acknowledged as a good idea. It's just that everyone has *much* higher priorities right now, so there really isn't anyone to do it. I kind of floated it out there on the off-chance you (or someone else in the open source community) might be interested. If someone were to build this, I'd be glad to review a PR. There was a proof of concept (http://podcasts.edx.org/,

[2015-03-06 09:33] vestri commented on #95
Hello,

I might have miss something but FUN does not work for me.
I set language to english, and tried with shk3/edx-downloader
and I see that iemejia/edx-downloader fork is identical. None
has fun platform in the list of url.
I added it and I can log and have the course list. But then
there is an error when I select a course.

Enter Course Number: 1
Traceback (most recent call last):
  File "edx-

[2015-03-07 19:46] Eth3rkni6ht commented on #143
It is due to unicode error, the video that fails have special characters that are not ascii, in this case 'è', and since the script doesn't treat it as unicode it shows the error.
I faced the same problem with another course and the workaround I applied, since my programming knowledge is not enough to fix it, is to comment the line that toss the problem: print(tmp, end="") (422 in my version). You

[2015-03-18 05:15] namaljayathunga opened #155 "'NonType' and 'str'"
I tried download https://courses.edx.org/courses/MITx/3.086-2x/1T2015/info
error in line 430
subs_filename = os.path.join(target_dir, filename + '.srt')
TypeError : Unsupported operand type type(s) for +: 'NonType' and 'str'

[2015-03-31 10:28] rafahsolis opened #156 "Error trying to download: https://courses.edx.org/courses/BerkeleyX/CS188.1x-4/1T2015/info"
Traceback (most recent call last):
  File "edx-dl.py", line 453, in <module>
    main()
  File "edx-dl.py", line 300, in main
    USERNAME = soup.find(id='dashboard-main').find('span', class_='data').string
AttributeError: 'NoneType' object has no attribute 'string'

[2015-03-31 10:37] rafahsolis commented on #156
Fixed updating beautifulsoup4 to version 4.1.0

[2015-03-31 10:37] #156 closed

[2015-04-16 04:47] phonx opened #157 "working before but now error as describe below"
Traceback (most recent call last):
  File "edx-dl.py", line 453, in <module>
    main()
  File "edx-dl.py", line 305, in main
    c_link = BASE_URL + COURSE.a['href']
  File "/usr/local/lib/python2.7/dist-packages/beautifulsoup4-4.3.2-py2.7.egg/bs4/element.py", line 905, in __getitem__
    return self.attrs[key]
KeyError: u'href'

[2015-04-16 08:59] ktarou commented on #157
I've got the same error too. Looks like edx modifies their page structure.
[code]

[2015-04-16 09:01] phonx commented on #150
my script was working a few day before has edx change something??

Traceback (most recent call last):
 File "edx-dl.py", line 453, in
 main()
 File "edx-dl.py", line 305, in main
 c_link = BASE_URL + COURSE.a['href']
 File "/usr/local/lib/python2.7/dist-packages/beautifulsoup4-4.3.2-py2.7.egg/bs4/element.py", line 905, in getitem
 return self.attrs[key]
 KeyError: u'href'

[2015-04-16 09:03] phonx commented on #157
ok so change has been made - any idea to fix this??

[2015-04-16 12:56] iemejia commented on #150
Yes, thanks for reporting, I will close this issue and we will continue the discussion in the new one you repported (issue #157.

[2015-04-16 12:56] #150 closed

[2015-04-16 13:04] iemejia commented on #157
please check and merge if ok.

[2015-04-18 02:37] phonx commented on #157
Thankyou for your help :) working now
What was the change?

[2015-04-19 19:06] iemejia commented on #157
Curious that it works since the fix has not been merged yet.
They changed the url element of the course section, before all of them included the course url in the attribute href  (<a href=...), but now the courses who have not started don't include this field. I was a bit surprised because what is the goal of an anchor without href, but apparently this is legal since html5, so I included a small f

[2015-04-20 06:43] iemejia commented on #157
Since the pull request has been merged I close this issue.

[2015-04-20 06:43] #157 closed

[2015-04-22 01:55] yusong-shen opened #159 "AttributeError: 'NoneType' object has no attribute 'string'"
Traceback (most recent call last):
  File "edx-dl.py", line 453, in <module>
    main()
  File "edx-dl.py", line 300, in main
    USERNAME = soup.find(id='dashboard-main').find('span', class_='data').string
AttributeError: 'NoneType' object has no attribute 'string'

Hello , this error happens in my mac recently.
Does anyone encounter the same problem ?

[2015-04-22 23:11] psifio commented on #159
I have the same problem since yesterday (windows 8.1, python 2.7)

[2015-04-23 07:09] justarb commented on #159
I am getting the same problem too.

[2015-04-23 11:48] iemejia commented on #159
They changed the place where the username is. Now it is in a simple div (with no extra attributes to identify it). There are two solutions: 1. do a bit more of parsing or 2. get rid of the username.
Since the username is just information that the user already knows I will do a patch to solve the second case for the moment. If anyone prefers to do 1 please create a new pull request.

[2015-04-23 15:21] crazyhottommy commented on #159
Yes, it worked yesterday. and now it has problem.

Traceback (most recent call last):
  File "edx-dl.py", line 457, in <module>
    main()
  File "edx-dl.py", line 300, in main
    USERNAME = soup.find(id='dashboard-main').find('span', class_='data').string
AttributeError: 'NoneType' object has no attribute 'string'

[2015-04-23 18:04] phonx opened #161 "New problem now!"
Traceback (most recent call last):
  File "edx-dl.py", line 457, in <module>
    main()
  File "edx-dl.py", line 300, in main
    USERNAME = soup.find(id='dashboard-main').find('span', class_='data').string
AttributeError: 'NoneType' object has no attribute 'string'

[2015-04-24 03:17] #159 closed

[2015-04-24 03:17] #161 closed

[2015-04-24 03:18] rbrito commented on #161
Please, upgrade to the latest version that contains @iemejia's fix.

[2015-04-24 03:19] rbrito commented on #159
Please, update to the latest version that contains @iemejia's fix.

[2015-04-24 05:23] rbrito opened #162 "We should refactor the code and have tests"
Hi.

I have been learning about tests lately. I already implemented some tests on my own fork of edx-dl, but I guess that it is better to have just one codebase (even though this project doesn't work the way that I like it to, I guess that we can reach some common ground).

Back on the subject of tests, my other project, https://github.com/coursera-dl/coursera, has just switched from `nose` to `py

[2015-04-24 13:36] bhanuone opened #163 "WindowsError: [Error 2] The system cannot find the file specified"
[info] Output directory: Downloaded
Traceback (most recent call last):
  File "edx-dl.py", line 455, in <module>
    main()
  File "edx-dl.py", line 418, in main
    popen_youtube = Popen(cmd, stdout=PIPE, stderr=PIPE)
  File "C:\Python27\lib\subprocess.py", line 710, in __init__
    errread, errwrite)
  File "C:\Python27\lib\subprocess.py", line 958, in _execute_child
    startupinfo)
WindowsErro

[2015-04-27 20:55] mefromthepast opened #164 "course_id get's ignored / does not load open courses"
When running the following, I always just get shown a list of courses I am enrolled in. Courses that you can not enroll in, but that are still available from everyone, can not be downloaded when giving the course_id

python edx-dl.py -u user@domain.xyz -p crazyshit!23 -x edx https://courses.edx.org/courses/RiceX/PHYS102.2x/2015T1/courseware/

[2015-04-29 07:33] SamOnSec opened #165 "Script stops at seemingly random step"
Hi,
I've been using edx-downloader for a while now,
but now it stopped working,
It just stops on some random 'Processing Http://***** ",
I've tested it several times on "Microsoft: DEV204x Programming with C#" course, Sometimes it stops on 4th , next time on 9th, another time on 2nd .
I tried to debug, but I couldn't find the cause.

[2015-04-29 21:51] fbcom commented on #126
In case someone wants to recreate it for debugging purposes: This error also occurs when trying to download the "edX Demonstration Course".

[2015-05-05 20:32] iemejia commented on #162
Hi,

First, sorry to answer so late. I agree, The current state of the project is not the best, in particular the lack of tests makes the script too fragile. I really would like that we work in the automated tests, and that we can learn a bit from your experience with the tests of coursera-dl.

I really want this script to be better, but to be honest I really lost the will to contribute bigger cha

[2015-05-05 20:34] iemejia opened #166 "stanford login not working"
I tried to login and there is an error since stanford changed the URL of its platform, and the script does not follow redirects.

[2015-05-06 10:40] iemejia commented on #128
I close this since it seems a repeated bug and there are no further reports.

[2015-05-06 10:40] #128 closed

[2015-05-06 10:41] iemejia commented on #148
I am closing this issue since the fix is already there. Thanks again @pmitros for reporting, and I hope we keep in touch for any new development or advice.

[2015-05-06 10:41] #148 closed

[2015-05-06 10:44] iemejia commented on #114
Subtitles seem to be working ok, so I am closing this one, if it is still an error please report here to re open it.

[2015-05-06 10:44] #114 closed

[2015-05-06 10:48] iemejia commented on #112
Subtitles seem to be working ok, so I am closing this one, if it is still an error please report here to re open it.

[2015-05-06 10:48] #112 closed

[2015-05-06 10:50] iemejia commented on #110
Nobody else has reported this error. And since it is more than a year old I'm closing it, please report if you have any issues still.

[2015-05-06 10:50] #110 closed

[2015-05-06 10:52] iemejia commented on #68
Subtitles seem to be working ok, so I am closing this one, if it is still an error please report here to re open it.

[2015-05-06 10:52] #68 closed

[2015-05-06 10:57] iemejia commented on #97
It seems that the edge.edx.org website, doesn't have a catalog of courses, each course must be accessed only by the URL.
http://help.edge.edx.org/kb/faqs/what-is-the-difference-between-edx-and-edge
I'm closing this issue since it doesn't seem to be a problem with the script.

[2015-05-06 10:57] #97 closed

[2015-05-06 12:12] iemejia commented on #115
Subtitles seem to be working ok, so I am closing this one, if it is still an error please report here to re open it.

[2015-05-06 12:12] #115 closed

[2015-05-06 12:16] iemejia commented on #164
Direct course downloading with the course_id or the course URL is not supported for the moment, we hope to have something like this in some not so far future, I'm closing this issue for the moment.

[2015-05-06 12:16] #164 closed

[2015-05-06 12:18] iemejia commented on #162
Oh and I forget to ask, what about you @shk3, are you still active in this repository, it has been some time since I don't have news from you. Are you willing to fix things or collaborate too ?

[2015-05-06 12:24] iemejia commented on #163
can you please give more details, what course were you trying to download, and maybe the full ouput, since no other person has repported a similar issue.

[2015-05-06 12:27] iemejia commented on #153
The video downloading part depends (at least for the moment) in the youtube-dl script and the youtube servers, of course there are some improvements to do to speed the script, but the overall download of the videos will not improve a lot anyway.
On the other hand giving the user the choice of video format would be a nice addition that can be part of the extra arguments that we could pass to youtub

[2015-05-06 12:27] #153 closed

[2015-05-06 12:28] iemejia commented on #109
Closing it since it has been clarified in the discussion.

[2015-05-06 12:28] #109 closed

[2015-05-06 12:34] iemejia commented on #95
I am closing this one since FUN is not already supported, and as an improvement is probably part of issue #40.

[2015-05-06 12:38] iemejia commented on #101
Sorry, the course menu is probably going to dissapear in future versions of the script, any way the current version of the script shows all the available courses, so you can download old versions of the course with no issue.

[2015-05-06 12:38] #101 closed

[2015-05-06 12:39] iemejia commented on #162
I have been closing some of the invalid issues so we can have a more accurate issue tracking, as part of this.

[2015-05-06 12:40] iemejia commented on #105
Nobody else has reported this error. And since it is more than a year old I'm closing it, please report if you have any issues still.

[2015-05-06 12:40] #105 closed

[2015-05-06 12:44] iemejia commented on #84
I am closing this since it seems to be solved now and it is more than a year old. Please report it if there are still issues.

[2015-05-06 12:44] #84 closed

[2015-05-06 12:45] iemejia commented on #118
Nobody else has reported this error. And since it is more than a year old I'm closing it, please report if you have any issues still.

[2015-05-06 12:45] #118 closed

[2015-05-06 12:46] iemejia commented on #73
Since this is already supported by the script I'm closing this issue.

[2015-05-06 12:46] #73 closed

[2015-05-06 12:55] iemejia commented on #129
I am closing this issue for the moment, since it is not a supported site for the script. Anyway It will be nice if somebody can do a PR to include the support.

[2015-05-06 12:56] iemejia commented on #129
I decided to reopen the issue and let it like a possible enhancement.

[2015-05-06 12:57] iemejia commented on #95
I decided to reopen the issue and let it like a possible enhancement. Sorry.

[2015-05-06 13:02] iemejia commented on #122
I'm closing this since we cannot test it because the lectures were removed after the Lewin scandal. Additionally nobody else has reported this issue.

[2015-05-06 13:02] #122 closed

[2015-05-06 13:03] #116 closed

[2015-05-06 13:05] iemejia commented on #165
I could not replicate this, is it still happening ? Can you give me more information about your platform and version of youtube-dl. I have tried with the latest release of youtube-dl and I dont have any issues.

[2015-05-06 13:09] iemejia commented on #145
Is this still an issue ? or could you fix it ?

[2015-05-06 13:12] iemejia commented on #145
Actually looking at the first comment it seems that you didn't have write permissions where you executed the script to create the default directory (Downloaded/). I'm closing the issue, please report if it is still an issue.

[2015-05-06 13:12] #145 closed

[2015-05-06 13:17] iemejia commented on #155
I just downloaded as a test and it seems not to be an issue right now. Please reopen of report to look at the issue if it is still not working.

[2015-05-06 13:17] #155 closed

[2015-05-06 13:19] iemejia commented on #119
Nobody else has reported this error. And since it is more than a year old I'm closing it, please report if you still have any issues.

[2015-05-06 13:19] #119 closed

[2015-05-06 13:20] iemejia commented on #107
Nobody else has reported this error. And since it is more than a year old I'm closing it, please report if you have any issues still.

[2015-05-06 13:20] #107 closed

[2015-05-06 13:24] iemejia commented on #140
Is it already working ? If not please reopen the issue and add more detailed information, which platform are you in and which course were you trying to download, or the full log.

[2015-05-06 13:24] #140 closed

[2015-05-06 13:26] iemejia commented on #141
This seems to be a connection issue, not related to the script but to your current connection. please report if it is still an issue.

[2015-05-06 13:26] #141 closed

[2015-05-06 13:28] iemejia commented on #120
I could not replicate this issue. I'm closing it for the moment. Please reopen if it is still a problem.

[2015-05-06 13:28] #120 closed

[2015-05-06 13:32] iemejia commented on #108
Nobody else has reported this error. And since it is more than a year old I'm closing it, please report if you have any issues still.

[2015-05-06 13:32] #108 closed

[2015-05-06 13:35] iemejia commented on #143
I am closing this one since it is the same as issue #126

[2015-05-06 13:35] #143 closed

[2015-05-06 13:38] iemejia commented on #117
I'm closing this one since is a duplicate of issue #126

[2015-05-06 13:40] iemejia commented on #79
I'm closing this issue, please use the native version of python to avoid the issue.

[2015-05-06 13:40] #79 closed

[2015-05-06 13:46] iemejia commented on #103
I'm closing it since this is a duplicate of issue #102.

[2015-05-06 13:46] #103 closed

[2015-05-06 13:49] iemejia commented on #53
I´m going to close this issue since it has more than one year and it seems to be OK now. Please reopen if the issue still exists.

[2015-05-06 13:49] #53 closed

[2015-05-06 13:53] iemejia commented on #126
@fboom I tried with this course
https://courses.edx.org/courses/edX/DemoX.1/2014/info
And I didn't have any issue, is this the one you are talking about ?

[2015-05-06 14:54] #137 closed

[2015-05-06 21:14] rbrito opened #168 "We should distribute the project via PyPI"
On the 1st of this month, I finally published `coursera-dl` on PyPI. This makes everything very easy for users to install the program, along with all its dependencies. It was, from my perspective, a success as installing it is as simple as:

[code]

No need for the user to know what git is, what a clone is and similar stuff.

I propose that we should consider adopting a similar scheme for `edx-dow

[2015-05-06 21:21] #166 closed

[2015-05-06 21:27] iemejia commented on #168
I totally agree with you, I think we can use the shortened to the 'edx-dl' name, can you please do a pull request with the changes ?
Will this solve the installation of the latest version of youtube-dl too ?

[2015-05-07 00:47] rbrito commented on #162
Hi.

On May 05 2015, Ismael Mejia wrote:

Great.

Have in mind that I don't know that much about automated testing.  I'm still
learning and I still have a lot to learn.  In fact, in a sense, I am using
all these projects as testbeds for learning some practices that I never had
any opportunities to experience. :)

For instance, one thing that I don't know is how to test things that need
network con

[2015-05-07 00:50] rbrito commented on #162
On May 06 2015, Ismael Mejia wrote:

Good question. I guess that we can, perhaps, move the code to an
organization, so that the contributors come and go, but the project lives
on.

Regards,

--
Rogério Brito : rbrito@{ime.usp.br,gmail.com} : GPG key 4096R/BCFCAAAA
http://cynic.cc/blog/ : github.com/rbrito : profiles.google.com/rbrito
DebianQA: http://qa.debian.org/developer.php?login=rbrito%40ime.

[2015-05-07 00:51] rbrito commented on #162
On May 06 2015, Ismael Mejia wrote:

Excellent work, BTW.

--
Rogério Brito : rbrito@{ime.usp.br,gmail.com} : GPG key 4096R/BCFCAAAA
http://cynic.cc/blog/ : github.com/rbrito : profiles.google.com/rbrito
DebianQA: http://qa.debian.org/developer.php?login=rbrito%40ime.usp.br

[2015-05-07 00:57] rbrito commented on #168
On May 06 2015, Ismael Mejia wrote:

Err... I don't know to what you are referring here.  Shortening the name of
the repository can only (as far as I know) only be performed by the owner of
the repository.

Creating the setup.py file can, obviously, be done by anyone. But we have to
register the project on https://pypi.python.org/pypi (super easy). Each
project hosted there has to have one person

[2015-05-07 11:26] rihbyne opened #170 "urllib2.URLError: urlopen error Name or service not known"
unable to download any course from edx.
Processing 'https://courses.edx.org/courses/BerkeleyX/ColWri.2.2x/1T2015/courseware/42e28dbf0b81488887be0f92a44484c9/19a7ac548119487181e1f466cf48444c/'...
Processing 'https://courses.edx.org/courses/BerkeleyX/ColWri.2.2x/1T2015/courseware/42e28dbf0b81488887be0f92a44484c9/4fe41105a81b4c21b5ed860c42a70212/'...
Processing 'https://courses.edx.org/courses/Berkel

[2015-05-08 04:39] phonx opened #172 "Bummer new error, any support for unicode comming??"
File "edx-dl.py", line 458, in <module>
    main()
  File "edx-dl.py", line 427, in main
    print(tmp, end="")
  File "edx-dl.py", line 108, in print
    texts.append(original_text.encode(enc, errors='replace').decode(enc))
UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 0: ordinal not in range(128)

[2015-05-08 04:52] phonx commented on #126
It seem course with Chinese character can't be download eg:
https://courses.edx.org/courses/course-v1:PekingX+20000001x+2015T1/info

[2015-05-08 18:36] iemejia commented on #172
Can you please give more information about this, which course were you trying to download ? And what platform / python version are you using ?

[2015-05-08 20:50] fbcom commented on #126
@iemejia
I've tried it again and now everything seems to work fine.

[2015-05-08 22:07] iemejia commented on #117
I reopened this issue just to show that it is a different of #126 which is a problem of encoding. This issue happens when a video can't be downloaded from youtube, and the script tries to download its subtitles.

[2015-05-08 22:12] iemejia commented on #117
It seems to be ok now.

[2015-05-08 22:12] #117 closed

[2015-05-08 22:13] iemejia commented on #126
This commit seems to solve this issue. If you still have problems, please report here, with a clear example (course and week where you find the problem, as well as python version).

[2015-05-08 22:13] #126 closed

[2015-05-08 22:15] iemejia commented on #172
I'm closing it since it is a duplicate of Issue #126, and I just closed #126 seconds ago. Please check and report if the issue persists.

[2015-05-08 22:15] #172 closed

[2015-05-08 22:16] iemejia commented on #170
I can't replicate this, can you give more details ? Platform, python version, institution, course ?

[2015-05-08 22:19] iemejia commented on #40
Just a reference for anyone who wants to contribute. The full list of sites powered by OpenEdX.
https://github.com/edx/edx-platform/wiki/Sites-powered-by-Open-edX

[2015-05-08 22:22] iemejia commented on #81
I'm closing this one since it seems to be the same than issue #126 and we are continuing the discussion there. I also just pushed a PR that seems to solve the problem. Please report in case you have issues.

[2015-05-08 22:22] #81 closed

[2015-05-08 22:34] iemejia commented on #168
Is it mandatory to have the same name of the repository in pypi ?
Can we just call it edx-dl in pypi and rename it after. Anyway I think we must be consistent and have the same name everywhere. Do you both agree to rename the project to 'edx-dl' ?

If so @shk3 would you mind to rename the project ?
I read and in it seems github automatically will redirect the project to the new name which is aweso

[2015-05-08 22:44] iemejia commented on #71
I am closing this issue. A new discussion on the refactorings and the future of the project is now part of issue #162

[2015-05-08 22:44] #71 closed

[2015-05-08 22:44] iemejia commented on #162
Hi, ok, it is nice to see that we are finally getting aligned. I will try to do cherry picking from your code where possible, but maybe it will be easier in some cases that you help me do the contribution, I say this because of the differences of your fork and the current version. Some things will be maybe easier if I just copy paste, but in that case it would be maybe better that we discuss the i

[2015-05-08 22:45] iemejia commented on #162
One last thing, I am going to try to pick the best things I can from the pull requests, and to be more active with the active contributors.

[2015-05-09 02:04] FedericoCeratto commented on #162
+1 on creating a GH organization: look for "new organization" in the pull down menu "+"

On May 8, 2015 3:44:45 PM PDT, Ismael Mejia <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-05-09 04:11] rbrito commented on #162
On May 08 2015, Ismael Mejia wrote:

Sure.

OK. I don't mind adapting the changes to this project.

Thanks. Just let me know the changes that you think that are appropriate for
this project and I will try to create a branch with pull requests for
review.

Yes, I have done that in the past with coursera-dl. I have an organization
(coursera-dl). Perhaps we could rename that to mooc-dl or something e

[2015-05-09 04:11] rbrito commented on #162
On May 08 2015, Ismael Mejia wrote:

Excellent. Go ahead.

--
Rogério Brito : rbrito@{ime.usp.br,gmail.com} : GPG key 4096R/BCFCAAAA
http://cynic.cc/blog/ : github.com/rbrito : profiles.google.com/rbrito
DebianQA: http://qa.debian.org/developer.php?login=rbrito%40ime.usp.br

[2015-05-09 04:13] rbrito commented on #162
On May 08 2015, Federico Ceratto wrote:

As I mentioned on my previous message, perhaps we could have "one
organization to rule them all". :)

Thanks,

--
Rogério Brito : rbrito@{ime.usp.br,gmail.com} : GPG key 4096R/BCFCAAAA
http://cynic.cc/blog/ : github.com/rbrito : profiles.google.com/rbrito
DebianQA: http://qa.debian.org/developer.php?login=rbrito%40ime.usp.br

[2015-05-09 04:18] rbrito commented on #168
On May 08 2015, Ismael Mejia wrote:

No, it is not. But my little brain fries when I have to use different names
for the same thing. :) OK, not really, but some consistency is good,
especially for the users.

Yes.

I already called my own fork exactly that, which would give an indication of
my preference. :)

Yes, as far as I know.

OK, I think that I can do that. I had to learn some small tricks

[2015-05-09 04:23] rbrito opened #173 "We need to declare a license for the project."
Before we start distributing the code, we need to have a license and make it explicit.

I am a firm believer in copyleft licenses (which means that I prefer licenses like the GPL and the LGPL), but I recognize that people may want to use this project as a library (once it is suitable) to download other things (just like youtube-dl is now callable as a python module).

For this reason, I chose the

[2015-05-09 06:35] rihbyne commented on #170
hey there,
Platform -> Ubuntu Linux 14.04LTS
python version -> python 2.7.9
institution -> BerkeleeX
Courser -> ColWri.2.2x

Notice that Its giving me urllib2.URLError. The current state of edx-dl.py is that it cannot download any course available on edx website.

[2015-05-09 06:48] iemejia commented on #162
I really agree, putting the project in a mooc-dl umbrella is the best way to go, I also prefer the edx-dl name, in particular because it will help edx-dl get some of the visibility of coursera-dl (and contributors I hope). @shk3 do you agree to give the control to @rbrito so he can move it into the right organization ?

[2015-05-09 06:52] iemejia commented on #173
Hello, I agree that copyleft licenses are better for this kind of projects. I vote LGPL v3+ too.

[2015-05-09 08:18] Rakasha opened #176 "Should rename the filename to avoid dash characters."
I think we should consider about renaming the filename, since it will cause a syntax error when trying to
[code]
There is another workaround to avoid such problem, that is , using
[code]
But I don't think its a good idea since it makes things more conplicated.

[2015-05-09 10:43] rihbyne commented on #176
hey the script doesnt work currently, see the error that I am getting in #170

[2015-05-09 11:50] iemejia commented on #176
@rihbyne the script works, the case you reported is not the same for everybody.

[2015-05-09 14:56] iemejia commented on #170
I can't replicate your error and i have exactly the same platform/ python version, can you please check that you have the latest youtube-dl version.

[2015-05-09 15:00] iemejia commented on #176
Thanks for the suggestion, I have just pushed a PR #178 with this, since I needed this to create the basic test infrastructure.

[2015-05-10 07:01] mukultrav commented on #117
Thanks iemejia and Danmbox2 for solving the problem.

[2015-05-11 00:21] rbrito commented on #176
I think that this should be fixed with commit https://github.com/shk3/edx-downloader/commit/11a6f16098a61e290cb8a4b2ee2aaa3f9c8eaa0f

I'm closing this, now. Thanks @Rakasha and @iemejia for the discussion.

[2015-05-11 00:21] #176 closed

[2015-05-13 09:26] rihbyne commented on #170
@iemejia I downloaded the latest version of youtube-dl and beautifulsoup4 through pip. still I get 'urllib2.URLError. name or service not known' exception. and I also tried running the both edx_dl.py edx-dl.py

[2015-05-13 12:43] iemejia commented on #170
This is really weird, are you behind a proxy or something like that ? can you try the script in a different machine, I ask because it is really weird as an issue, and I'm considering to report it invalid since nobody else has reported this problem.

[2015-05-13 18:34] YurieCo opened #182 "Threading"
Hi all,
it might be a good idea to make this program be able to run in parallel.
With respect

[2015-05-13 19:24] iemejia commented on #182
Waiting for approval, I hope soon merged, see pull #181

[2015-05-13 19:27] iemejia opened #183 "youtube-dl default format issues"
I upgraded to the last version of youtube-dl and while running the script I noticed that if I didn't define a format for the file it tried to download and merge a different format from the expected mp4.

[code]

[2015-05-13 19:30] iemejia commented on #183
Reading the section on 'FORMAT SELECTION' from youtube-dl I noticed that some things are changed.  I run these tests and I saw that the default behavior was not the one I expected:

$ youtube-dl -f best/mp4 b7xgknqkQk8
[youtube] b7xgknqkQk8: Downloading webpage
[youtube] b7xgknqkQk8: Extracting video information
[youtube] b7xgknqkQk8: Downloading DASH manifest
[download] Destination: EDXSPCPJSP13-

[2015-05-13 19:46] iemejia commented on #183
In more detail the doc says:
[code]

[2015-05-13 19:47] iemejia commented on #183
I consider that the best default is 'mp4' due to the availability of players around, additionally no additional processing will need to be done.

[2015-05-13 20:40] iemejia opened #185 "Support subtitles in multiples languages"
The current version of the script only downloads the default subtitles, however the edx platform allows to put subtitles in multiple languages.

[2015-05-13 20:41] #165 closed

[2015-05-13 20:41] #170 closed

[2015-05-13 20:49] iemejia commented on #142
Both the TypeError and the UnicodeDecodeError have been fixed by merging PR #139. And further fixes. Please report if you still have issues.

[2015-05-13 20:49] #142 closed

[2015-05-13 20:52] iemejia commented on #95
PR #177 Added support for the login, now the direct cdn download is still missing.

[2015-05-13 20:53] #163 closed

[2015-05-13 21:24] iemejia commented on #129
Treated in PR #186. Soon to be merged.

[2015-05-13 21:24] #129 closed

[2015-05-13 21:25] #95 closed

[2015-05-13 22:43] rbrito opened #187 "We should have a continuous integration service"
It seems that there are many continuous integration services that hook up with github. Some that I saw:

* https://scrutinizer-ci.com/
* https://codeclimate.com/
* https://travis-ci.org/

I am currently using Travis CI with coursera-dl (see: https://travis-ci.org/coursera-dl/coursera) and their services integrate with coveralls (see: https://coveralls.io/r/coursera-dl/coursera). I don't know about

[2015-05-14 03:30] rbrito opened #188 "Create a mini compatibility layer module for Python 2 vs. Python 3"
If we don't adopt six (one fewer dependency), we should consider using using a very thin abstraction layer like what I used in https://github.com/rbrito/edx-dl/blob/master/edx_dl/compat.py

This will take care of the "import hell" that we are having on the main script, where "the mechanics are obscuring our business logic", as discussed in https://github.com/shk3/edx-downloader/pull/179

Thanks,

[2015-05-14 04:12] rbrito commented on #183
Hi.

On May 13 2015, Ismael Mejia wrote:

Yes, this change is one of the latest changes. What do you use for your
Linux system? My Debian packaged version of youtube-dl or the upstream
version?

Anyway, I guess that one reasonable compromise would be to have `-f
best/22/18/5`, as that doesn't create yet another dependency on external
problems. In particular, I had a brief experience with Windows 7

[2015-05-14 04:17] rbrito commented on #183
That being said, the changes look good to me, but I think that we should
still address the muxing stuff into a separate pull request before the first
published version on PyPI.

Regards,

--
Rogério Brito : rbrito@{ime.usp.br,gmail.com} : GPG key 4096R/BCFCAAAA
http://cynic.cc/blog/ : github.com/rbrito : profiles.google.com/rbrito
DebianQA: http://qa.debian.org/developer.php?login=rbrito%40ime.usp

[2015-05-14 08:05] #183 closed

[2015-05-14 09:04] rihbyne commented on #170
Yes, @iemejia I am behind a proxy, I didnt noticed it earlier.what should be done in such cases?

[2015-05-14 09:10] rihbyne commented on #141
@iemejia The script works if I am downloading a specific module from the course. But when downloading   entire course. It gives urllib.URLERROR.

[2015-05-14 14:32] iemejia commented on #170
You must export a shell variable called HTTP_PROXY, with the info of your proxy. See more details here:
http://www.cyberciti.biz/faq/linux-unix-set-proxy-environment-variable/

[2015-05-14 14:44] iemejia commented on #141
This must be a time out, but in general this is the case of a bad connection, In a recent pull request, I added support for parallel requests which must improve this case, just wait until it gets merged.

[2015-05-14 14:54] iemejia commented on #188
Ok, just one question, I suppose the 'nasty' print function will go there, no ?

[2015-05-14 14:55] iemejia commented on #187
Excellent idea, I tried travis also in a personal project, and I think it works pretty well.
@shk3 are you there, please appear that we need your help to push things further.

[2015-05-14 15:32] iemejia commented on #183
I work mostly between ubuntu and debian, both in the latest stable versions, I am not
really cutting edge in the OS part. However, in the python packages I am always
with the latest releases, for that reason I prefer to get the modules
via pip. Do you maintain all the debian versions of youtube-dl ? do you
maintain any other packages ?

I like the milestone idea, I think it is nice to plan and org

[2015-05-14 23:30] rbrito commented on #183
Hi.

On May 14 2015, Ismael Mejia wrote:

Yes, I maintain youtube-dl and I am going to upload a new version of it
soon, but due to the way that Ubuntu works, it won't get backported, unless
they deem it to be important enough (e.g., like youtube changing its
structure and the package stopping working).

And yes, I maintain other packages in Debian:

http://qa.debian.org/developer.php?login=rbrito%

[2015-05-14 23:42] rbrito commented on #188
On May 14 2015, Ismael Mejia wrote:

I'm fine either way. Help me decide this. I just want to maximize the amount
of clean code that I see. :)

--
Rogério Brito : rbrito@{ime.usp.br,gmail.com} : GPG key 4096R/BCFCAAAA
http://cynic.cc/blog/ : github.com/rbrito : profiles.google.com/rbrito
DebianQA: http://qa.debian.org/developer.php?login=rbrito%40ime.usp.br

[2015-05-14 23:43] rbrito commented on #187
Thanks for the support @iemejia. Yes, @shk3, we need some help here. Your help, in particular.

[2015-05-15 06:46] rbrito commented on #182
This should be fixed with @iemejia's contribution that I just merged (https://github.com/shk3/edx-downloader/commit/68d3661393f589994e1dfe382a6a37b9c23d6a43). Please, test the code and report back any problems that you may have (hopefully, none! :) ) in another issue. :)

[2015-05-15 06:46] #182 closed

[2015-05-15 07:25] iemejia commented on #188
I will put it there since if have the version checking logic. But I suppose this will dissapear with the proper 'logger'. I also have a doubt with the proper logger will it work ok when reading from stdin what it does to get the name of the file (another ugly hack btw). But well, maybe this goes out of this subject.

[2015-05-15 12:46] Gianfranco-Campana opened #192 "You can access 0 courses"
Login works fine, but no courses are found, while I have two courses accessible.

The BeutifulSoup output does not contains 'article' rows.

[2015-05-15 21:17] iemejia commented on #192
Are you using the latest version ? Which platform ? edx ?

[2015-05-15 22:47] Gianfranco-Campana commented on #192
Thanks for your answer, yes, it is edx platform.

I'm using the last version of beautifulsoup4, edx-downloader (from
https://github.com/shk3/edx-downloader  ), and youtube-dl.

I redirected the soup object on a file, and no rows with 'article' is
present.
Il 15/Mag/2015 23:17, "Ismael Mejia" <notifications@github.com> ha scritto:

--

Rispetta l’ambiente. Hai davvero bisogno di stampare questa mai

[2015-05-17 23:05] yepu opened #195 "Can't download videos from YCA2015.1.2x"
Pick the course, choose the week and it says 'WARNING: No downloadable video found.'. Commit 68d3661393f589994e1dfe382a6a37b9c23d6a43 is the culprit.
Reset to 4b4578f52168c6c70de8c159f1a223c6f37a48a5 make it works again.

[2015-05-18 06:35] iemejia commented on #195
Hello, thanks for reporting, apparently there is something different about those two courses, maybe so layout change or something, but the commits you talk about seem unrelated. I will check for this later on.

[2015-05-18 15:32] iemejia commented on #195
I am breaking this bug in two, since they are different cases.

[2015-05-18 15:33] iemejia opened #196 "Can't download videos from TW.3421x"
When you try to download the videos from this course only two videos are downloaded.

[2015-05-18 15:34] iemejia commented on #196
This is apparently an issue of the ways sections and subsections are parsed in the script. I'm checking more details.

[2015-05-18 15:40] iemejia commented on #195
This course is a particular case, notice that the page layout is different from a regular one:
YCA2015.1.2x:
![instructions quiz yca2015 1 2x courseware edx - mozilla firefox_015](https://cloud.githubusercontent.com/assets/79476/7684251/ef31d870-fd84-11e4-96f7-4c4ba5e84ed0.png)

Other normal course:

![introduction introduction tw 3421x courseware edx - mozilla firefox_016](https://cloud.githubuse

[2015-05-18 15:42] iemejia commented on #196
This is the continuation of issue #195. @yepu for reference, and thanks for reporting.

[2015-05-18 15:44] iemejia commented on #192
Can you please tell me the name of the courses you have registered, or put a screenshot of your dashboard webpage.

[2015-05-20 07:05] Gianfranco-Campana commented on #192
I urge to download the MITx - 15.071x - Tha analytics Edge material,

thanks you !

[image: Immagine in linea 1]

2015-05-18 17:44 GMT+02:00 Ismael Mejia <notifications@github.com>:

--

Rispetta l’ambiente. Hai davvero bisogno di stampare questa mail?

[2015-05-20 09:50] iemejia commented on #195
I checked the issue and it seems that the layout is the same, but this course has only one active section so, that is why it seems weird. The fix for issue #196 allows now to dowload the videos of this course too.

[2015-05-20 12:25] iemejia commented on #192
The course is not open yet. It starts in june 2nd.
https://www.edx.org/course/analytics-edge-mitx-15-071x-0
Your image is not there.

[2015-05-20 12:29] iemejia commented on #40
I am closing this one. I prefer that we deal with individual requests for other platforms in a per platform basis.

[2015-05-20 12:29] #40 closed

[2015-05-20 12:31] iemejia commented on #80
I am closing this one since there are no further reports. Please report if the issue still persists.

[2015-05-20 12:31] #80 closed

[2015-05-20 16:47] Gianfranco-Campana commented on #192
The last run is not yet compete. I'm doing right now the final exam, and I
can enter the course as you can see below:

The course is not open yet. It starts in june 2nd.
https://www.edx.org/course/analytics-edge-mitx-15-071x-0
Your image is not there.

—
Reply to this email directly or view it on GitHub
<https://github.com/shk3/edx-downloader/issues/192#issuecomment-103862237>.

--

Rispetta l’amb

[2015-05-20 18:01] iemejia commented on #192
Does it have a different URL to access ? because the one I sent you is not opened yet.

[2015-05-20 23:30] Gianfranco-Campana commented on #192
This the url, copied from the "View Course" button:

https://courses.edx.org/courses/MITx/15.071x_2/1T2015/info
Il 20/Mag/2015 20:01, "Ismael Mejia" <notifications@github.com> ha scritto:

--

Rispetta l’ambiente. Hai davvero bisogno di stampare questa mail?

[2015-05-21 11:18] #196 closed

[2015-05-21 11:21] rbrito commented on #195
@yepu, After the latest changes, can you confirm that this bug is closed?

@iemejia, can you grab the HTML of the courses in question so that we can put them into our test suite?

[2015-05-21 11:38] iemejia commented on #195
@rbrito I checked this issue in detail and it was my mistake to think that it was a layout issue. The thing is that this course has only one section, when I saw the picture I thought it had many and the script was not working, but notice that the layout is exactly the same (seldcted section has white background as well as the subsections when you have not picked a subsection), so I don't think we

[2015-05-21 12:32] rbrito commented on #195
Hi.

On May 21 2015, Ismael Mejia wrote:

Ah, OK. That's "less bad". This seems to indicate that we can close this
bug, then, right?

OK, great starting point. I wonder how we should put it in our repository.

With coursera, we essentially have just one page that has everything that we
need, which is what I put in as "fixtures" for the unittests.  For edX, the
courses are generally spread over man

[2015-05-21 20:49] #195 closed

[2015-05-21 20:50] iemejia commented on #192
I saw this error in windows, are you by any chance using windows ? If no, can you confirm me the version of BeautifulSoup you are using.

[2015-05-21 21:13] yepu commented on #195
Fixed. Thank you guys.

[2015-05-21 21:59] iemejia commented on #192
@Gianfranco-Campana you found a really interesting bug, it seems that BeautifulSoup can use any of three different parsers, the native python one, lxml or html5lib.
http://www.crummy.com/software/BeautifulSoup/bs4/doc/#installing-a-parser

If you don't have installed lxml or html5lib the script breaks since BeautifulSoup does not recognize the <article> tag. This is a new html5 tag. So to solve yo

[2015-05-21 22:02] iemejia commented on #192
@rbrito How can we solve this in the dependencies ? I tried both lxml and html5lib and both work, however html5lib seems more robust, but it introduces one extra unwanted requirement (six). What do you think ? I am starting to think that maybe we must take html5lib and rewrite the 'compat' layer into six, and add both dependencies now.

[2015-05-22 03:10] rbrito commented on #192
Hi there.

On May 21 2015, Ismael Mejia wrote:

Let me chime in here. I had this problem with coursera-dl about 2 years
ago.  You can see it here:

    https://github.com/coursera-dl/coursera/issues/143

In the end, I decided that it was just worth to use html5lib and be done
with that. See:

    https://github.com/coursera-dl/coursera/blob/master/coursera/coursera_dl.py#L63-L69

BTW, now that I'm

[2015-05-22 03:16] rbrito commented on #192
On May 21 2015, Ismael Mejia wrote:

This is easy: just add the line corresponding to the dependencies in the
requirements.txt file and in the tox.ini file.  Then, force the import of
bs4 passing html5lib.

I think that it is better to simply use something that is well tested.
Anything that can be done with six can be done manually (of course, since
they do it), but reinventing the wheel may lead

[2015-05-22 03:56] #185 closed

[2015-05-22 07:54] #192 closed

[2015-05-22 08:45] iemejia commented on #27
I am closing this since it has almost two years and no further reports. Please re-open if needed.

[2015-05-22 08:45] #27 closed

[2015-05-22 13:40] iemejia commented on #89
@rbrito I was thinking that I would like to call this script version 1.0 using the milestone system when we have the non-interactive working (and the interactive part removed). As I think we are not far from it, would you consider to move some of the goals of the milestones to further names (1.1, 1.2 ...) ?

[2015-05-22 14:28] Gianfranco-Campana commented on #192
Ismael,
I installed html5lib and everything seems works fine: I see the courses
list, I select the course and then I select a unit (or all unit), then all
videos seems processed correctly.

But after the "[info] Output directory: Downloaded",  I cannot find the
"Downloaded" folder.

Where is this folder created?

[image: Immagine in linea 1]

Gianfranco Campana

2015-05-21 23:59 GMT+02:00 Ismael M

[2015-05-22 14:51] Gianfranco-Campana commented on #192
Version from Varun Batra work perfectly (Windows 8.1 pro 64 bit) - Python
2.7.

(
https://github.com/VarunBatraIT/organized-edx-download/blob/master/oedx-dl.py
)

Thank you very much !!!

Gianfranco Campana

2015-05-22 16:27 GMT+02:00 Gianfranco Campana <
gianfranco.campana@gruppomegamark.it>:

--

Rispetta l’ambiente. Hai davvero bisogno di stampare questa mail?

[2015-05-22 15:36] iemejia commented on #192
Ok, his version is actually a fork of ours (even if he does not say so). I submitted a pull request with support for separated folder sections in case you want to check it must be integrated soon.

[2015-05-22 15:43] Gianfranco-Campana commented on #192
Well - a last thing: no subs  downloaded with this version. ( a major
problem for me)

Gianfranco Campana

2015-05-22 17:36 GMT+02:00 Ismael Mejia <notifications@github.com>:

--

Rispetta l’ambiente. Hai davvero bisogno di stampare questa mail?

[2015-05-22 16:59] rbrito commented on #192
I also have this "Downloads" directory problem that @Gianfranco-Campana has. More details in a subsequent bug.

[2015-05-22 17:25] rbrito commented on #192
Ouch! That's FREAKING maddening! That (Varun Batra) is stealing other people's properties without giving credit (if that was a declared fork, that would be OK, as it would be traceable to other (read: "our") people's work) *and* putting a license when we do *not* still have decided on a license!

I would have freakin' uploaded this thing to PyPI already if we already had @shk3's response on if he

[2015-05-22 18:46] rbrito opened #208 "execute_command considered harmful"
I have been having a hard time with the `execute_command` function.

One of the golden rules of interacting with external programs (more than any other programs) is that you should always check their return code, especially if you are invoking the commands many times in a loop.

In our particular case, the `execute_command` function is called for each and every video that is downloaded and youtube

[2015-05-22 18:53] rbrito commented on #89
Hi, Ismael.

On May 22 2015, Ismael Mejia wrote:

I'm with your proposal, but I would like to use something like semantic
versioning when breaking backward compatibility: http://semver.org/

In fact, as long as we actually use semantic versioning (or if you convince
me otherwise), you can use whatever numbers you prefer and I will not chime
in. :)

Regards,

--
Rogério Brito : rbrito@{ime.usp.br,g

[2015-05-22 18:55] rbrito commented on #173
I'm posting my previous comment to issue #192 here for further reference:

----

Ouch! That's FREAKING maddening! That (Varun Batra) is stealing other people's properties without giving credit (if that was a declared fork, that would be OK, as it would be traceable to other (read: "our") people's work) *and* putting a license when we do *not* still have decided on a license!

I would have freakin'

[2015-05-22 19:05] #188 closed

[2015-05-22 19:31] Gianfranco-Campana commented on #192
@Rogério I give full credit and honor to your works, and understand your
frustration.

Btw, Keep Working hard with this excellent job.

Good luck ;)

Gianfranco

2015-05-22 19:25 GMT+02:00 Rogério Brito <notifications@github.com>:

--

Rispetta l’ambiente. Hai davvero bisogno di stampare questa mail?

[2015-05-22 19:53] Gianfranco-Campana commented on #192
After some tests I realized I had made a mistake: the script from shk3
works fine, even with subtitles.

Therefore, please consider this report closed.

Thank you for the excellent work!

Gianfranco Campana
Uff. ICT - Gruppomegamark
<https://www.linkedin.com/profile/view?id=272029401&trk=nav_responsive_tab_profile_pic>

2015-05-22 21:30 GMT+02:00 Gianfranco Campana <
gianfranco.campana@gruppomegam

[2015-05-23 00:30] shk3 commented on #173
Hey @rbrito and @iemejia,

I apologize that I was not staying tune with this project as I was under transitions of my life track.
I agree with the version 3 of the license as well. Let's do it!

Should I add anything into our README file?

George

[2015-05-23 00:32] shk3 commented on #187
I am back, I am back! I actually have no experience with CI. Which one do you guys like? Shall we use travis?

[2015-05-24 18:27] iemejia commented on #208
Hi Rogerio, I think your idea is great, that part of the code is the one I hate the most, in particular because this 'per-byte' taking from the output forces us to re read the input which impedes to create folders and filenames with UTF-8 characters (a bug I have been working on but not fixed because of that).

Please go ahead with the changes, I would love to have them as soon as possible. Just o

[2015-05-25 01:39] rbrito commented on #173
Hi, George.

On May 22 2015, George Monkey wrote:

That's no problem. It's nice to see you back.

No, nothing else is needed (besides this explicit and public agreement of
yours).  Since we all agree on the license, I can push the necessary changes
to the repository.

We still have some work to do, though, as we have many FIXME's in `setup.py`
which should be cleared before we publish our first ve

[2015-05-25 01:47] rbrito opened #211 "We should remove the remaining FIXME's in setup.py"
The setup.py file is used to automatically fill in PyPI's project homepage and it should, therefore, consist of "correct" data.

We still have many fields that I only provided with placeholders and we have to decide how to fix them.

Let's do it in a timely manner, so that we can upload our first version soon to PyPI.

Thanks,

Rogério Brito.

[2015-05-25 01:51] #173 closed

[2015-05-25 02:46] rbrito commented on #208
Hi there.

On May 24 2015, Ismael Mejia wrote:

I just submitted a patch to kill that. While I was taking a look at that, I
also saw many things that can be improved. I will try to fix them, but I
will postpone those fixes to get our first version released.  It is not the
most urgent thing in the world, but it will make the code more maintainable,
I hope.

Please, review my pull request to see if

[2015-05-25 06:38] shk3 commented on #211
I need some time to get familiar with the current repository. If I have encoutered any question, I probably have to ask you guys.

[2015-05-25 09:20] phonx opened #213 "listing only but no file download???"
It seem the more we change we keep break thing!

[2015-05-25 09:23] phonx commented on #213
9 - Download them all
Enter Your Choice: 6
Processing 'https://courses.edx.org/courses/course-v1:MITx+3.15x+1T2015/courseware/8a7425b42dba4313884a556e95aea07d/dfe4c84c5951483d954394093544c81c/'...
Processing 'https://courses.edx.org/courses/course-v1:MITx+3.15x+1T2015/courseware/8a7425b42dba4313884a556e95aea07d/884551e6f3054ef8821e0a0519148413/'...
Processing 'https://courses.edx.org/courses/cours

[2015-05-25 14:02] phonx opened #214 "Add support for https://moocs.qut.edu.au"
Hi;

I just found this course and need to download - please help

https://moocs.qut.edu.au/courses/791/learn?edcast_ref=26400

Thank

[2015-05-25 19:25] iemejia commented on #213
You must have a configuration problem since I am running the code right now for the same course (same option 6 than you) and it works. Can you try again ? or give me more details ? Are you sure it is not a connection issue ? can you also tell me the exact youtube-dl version you are using.

[2015-05-25 19:28] iemejia commented on #214
Are you sure this course uses the openedx platform ? looking at the first page and looking at the list of courses in the official wiki it does not seem to be the case. If it is not the case we can not support it here (at least with the existing codebase).

[2015-05-25 20:23] #208 closed

[2015-05-25 21:51] iemejia commented on #213
Are you running the script in windows ?

[2015-05-27 04:40] shk3 commented on #211
Is there a link consisting of all the fields in the setup.py file? I am not quite familiar with PyPI development actually.

Also, which email address should we add in setup.py? Should we create a bug tracker and use its email address (though I am not sure if it's feasible)?

[2015-05-27 07:21] iemejia commented on #132
Closing this one since this should be ok after merge.

[2015-05-27 07:21] #132 closed

[2015-05-27 07:21] iemejia commented on #132
Please report if you still have issues.

[2015-05-27 07:23] iemejia commented on #38
This has been finally been included in the last merge. Thanks @java007md for your idea, and sorry we didn't take your contribution in its original form since it was impossible to merge now.

[2015-05-27 07:23] #38 closed

[2015-05-27 07:24] iemejia commented on #38
Please report any further issues you may have with this.

[2015-05-30 05:44] rbrito opened #218 "We should internationalize ("translate") edx-dl"
Here is a service that seems to offer a platform for users to help with translation of programs:

https://crowdin.com/

Is there any interest in this?

[2015-05-30 06:24] shk3 commented on #218
This sounds nice. Should we use i18n tools to extract the words and sentences to po files in order to use it?
Meanwhile, just for a big picture of the project, as I understand, we are going to get rid of the interactive mode, right? So, what we are translating?

[2015-05-31 04:04] rbrito opened #220 "edx-dl bombs when downloading MIT's "The Analytics Edge""
The course URL is: https://courses.edx.org/courses/MITx/15.071x/1T2014/info

I took a brief look (sorry, way past bed time here---it's more than 1AM) and it seems that the HTML of the dashboard is all messed up (don't know why), but we should not bomb with an unfriendly stack trace.

This is what I get, BTW:

[code]

Thanks,

Rogério Brito.

[2015-05-31 08:52] phonx commented on #214
https://github.com/plmtr/QUT-EdCast-Customisations check this out looks like they customise the layout

[2015-05-31 09:04] phonx commented on #214
We work with several universities around the globe providing them a turnkey, fully branded open-edX based online learning platform.  We couple the platform with our social collaboration apps to drive social interaction and engagement around education.  These apps are LTI compliant and plug into the platform.  The platform is open so that any third party app that is LTI compliant can easily be plug

[2015-05-31 09:06] phonx commented on #214
http://www.theage.com.au/it-pro/business-it/university-to-use-web-data-to-retain-students-20130516-2jnni.html

[2015-05-31 09:35] phonx opened #221 "In favour numeric selection of course to download"
Was there any good reason of removing this features cut and paste of course url is very annoying and prone to error

Usage of section need more documentation

Also any chance of having a history of what is already downloaded - flat file, csv or sqlite should be sufficient??? stored locally so user can view or export to excell for the records :)

[2015-05-31 10:05] #213 closed

[2015-05-31 13:10] iemejia commented on #220
In my dashboard this course has not started (so it is not possible to download it), does it appear in your list when you do --course-list ?

[2015-05-31 13:11] iemejia commented on #220
I agree however that we could deal better with the exception where the url is not a valid course.

[2015-05-31 17:04] iemejia commented on #221
There are three possible ways to identify a course:

1. by number from the list.
This is probably the worst approach since the default order of the list changes, edx presents first the last courses you visited, so it wouldn't be reliable (in particular if you use edx-dl from another script), even if we order the courses once you add a new course who goes between two, you break the id for the other

[2015-05-31 17:08] iemejia commented on #221
"Usage of section need more documentation"
Documentation is one of the areas where you can help as an contribute, your pull-requests are welcome.

[2015-05-31 18:23] iemejia commented on #221
Saving user state goes beyond the goal of this script, in addition, it will make the maintenance of the same more difficult and since we are short on contributors I don't think it is a good idea for the moment. Sorry.

[2015-05-31 19:00] DoobleD commented on #122
BTW does anybody has a copy of the course somewhere...? Since it was closed after the Lewin scandal, it'd be great to have the course back somewhere else.

[2015-05-31 19:22] iemejia commented on #122
This is the closest I know you can easily get:
https://www.youtube.com/playlist?list=PLUdYlQf0_sSsfcNOPSNPQKHDhSjTJATPu

[2015-06-01 00:12] phonx commented on #221
Hi iemejia  ;

I thank you for your always prompt and useful feedback. Documentation oh boy I'll need to read the whole program that would take me sometimes which I don't always have  but I'll try.

how about flatfile for history of download on local machine that just append a sorted recorded of each sucessful  download of a whole course or sections. Coursera download seem to able to stop duplicat

[2015-06-01 01:18] ardoi commented on #80
Getting failed downloads as well:
[code]
Connection quality shouldn't be a problem. The average download speed for the succeeding downloads is ~6MB/s

[2015-06-01 05:56] rbrito commented on #220
On May 31 2015, Ismael Mejia wrote:

Sure, it is an old course that has already ended (I would not file a bug
otherwise). ;) I will post a screenshot after I send this e-mail.

Thanks,

--
Rogério Brito : rbrito@{ime.usp.br,gmail.com} : GPG key 4096R/BCFCAAAA
http://cynic.cc/blog/ : github.com/rbrito : profiles.google.com/rbrito
DebianQA: http://qa.debian.org/developer.php?login=rbrito%40ime.usp.b

[2015-06-01 05:56] rbrito commented on #220
Here's the screnshot:

![screenshot-15 071x courseware edx - iceweasel-1](https://cloud.githubusercontent.com/assets/212145/7906987/cd563b8a-0809-11e5-8ac4-2500b00e900e.png)

[2015-06-01 06:07] rbrito commented on #80
Hi, Ardo.

On May 31 2015, Ardo Illaste wrote:

This is really annoying (and I have hit it myself).

One workaround for this would be to put the video id from youtube in the
final name of the video, so that you can see which files still have the
.part extension and manually download those.

In fact, in my local copy, I have precisely that, not only because of the
reason above, but because I want t

[2015-06-01 06:09] rbrito opened #222 "Add option to stop or to ignore download failures from youtube-dl"
This is my message in response to @ardoi:

Hi, Ardo.

On May 31 2015, Ardo Illaste wrote:

This is really annoying (and I have hit it myself).

One workaround for this would be to put the video id from youtube in the
final name of the video, so that you can see which files still have the
.part extension and manually download those.

In fact, in my local copy, I have precisely that, not only becaus

[2015-06-01 06:13] rbrito commented on #222
I don't know if the patch above will survive the copy-and-paste.

Oh, unfortunately, @ardoi, the problem seems to be on youtube's end. I noticed this if I downloaded a course with many videos.

Another workaround that I could use myself was to use an external downloader like `aria2c` with youtube-dl. You can specify it to be used with the option `--youtube-options " --external-downloader aria2c"`.

[2015-06-01 12:39] iemejia commented on #80
@rbrito I think having the id at the end of the video name (as it is the default now in youtube-dl) is a really good for both debugging and download retries. Can you please do a pull request with this change.

[2015-06-01 12:48] iemejia commented on #221
Hi,

Yes, avoid downloading twice is a good improvement to have, but we have a more difficult time to do so than coursera-dl/coursera has because we cannot know in advance the correct size of some resources to see if they have been correctly downloaded (e.g. the ones downloaded by youtube-dl, or even the subtitles one (which we have to transform inside).

Notice that the downloads done with youtub

[2015-06-01 14:48] iemejia commented on #222
@rbrito Can you do a pull-request with this change ? This is the actual new default of youtube-dl, and this is good not only for retrials, but for debugging purposes, in addition having the youtube_id in the end will help us easily differentiate youtube video downloads from static video ones (my next patch).

[2015-06-01 16:48] DoobleD commented on #122
Yep I've seen it as well. Also, there is a 8.02SC copy on some MIT OCW mirror : http://www.mitocw.espol.edu.ec/courses/physics/8-02sc-physics-ii-electricity-and-magnetism-fall-2010/index.htm

Sadly none of them is as good as the 8.02x version! :/

[2015-06-02 08:41] #221 closed

[2015-06-02 09:09] phonx opened #225 "copy link from website then paste into terminal will introduce extra %..."
find this problem

 copy link from website then paste into terminal will introduce encode %... char
eg:
https://courses.edx.org/courses/course-v1:Microsoft+DEV202.2x+2015_T4/info

to
https://courses.edx.org/courses/course-v1%3AMicrosoft%2BDEV202.2x%2B2015_T4/info

[2015-06-02 12:14] iemejia commented on #225
use --course-list

[2015-06-02 14:03] zniazi opened #226 "No module named http_cookiejar"
I am receiving the following error:

ImportError: No module named http_cookiejar

when I run: python edx-dl.py

The full stack trace:

♥ python edx-dl.py
Traceback (most recent call last):
  File "edx-dl.py", line 4, in <module>
    from edx_dl import edx_dl
  File "/Users/zakariyaniazi/Tutorials/edx-downloader/edx_dl/edx_dl.py", line 20, in <module>
    from .compat import *
  File "/Users/zakari

[2015-06-02 19:02] yepu opened #227 "Crash when downloading videos."
On both https://courses.edx.org/courses/MITx/18.01.1x/2T2015/info and https://courses.edx.org/courses/course-v1:MITx+15.071x_2a+2T2015/info, it manages to download one video then it stop with this output:
[code]

[2015-06-02 19:17] iemejia commented on #227
Hi I fixed this in the upcoming pull request #223. Thanks for reporting.

[2015-06-02 19:48] iemejia commented on #227
If you are urged to download you can skip downloading the subtitles and it should in principle not fail.

[2015-06-02 19:53] iemejia commented on #220
Yes, the thing is I tried to access it doesn't let me since I was not registered in the previous version of the course, so I can't check for any error. However I wouldn't be suprised if that crazy <p> in the subsection title is breaking the parser.

[2015-06-02 19:55] yepu commented on #227
Thanks for the tip. I did use older version that still working.

[2015-06-02 20:05] iemejia commented on #226
can you please tell me which version of the library six have you installed ?
[code]

[2015-06-02 20:06] zniazi commented on #226
Yes, version 1.9.0

♥ pip list | grep six

six (1.9.0)

On Tue, Jun 2, 2015 at 4:05 PM, Ismael Mejia <notifications@github.com>
wrote:

[2015-06-02 21:09] iemejia commented on #226
are you using the vanilla 'mac' python or a different one (macports or brew or other) ?

[2015-06-02 21:27] iemejia commented on #148
Hello again @pmitros,

I write to you again since I have two questions to continue our previous
discussion:

1. are you still interested in this rss-like functionality ? I have a bit more
of time now than before and I am interested in programming it if it has not been
built yet. is it still needed ?

2. I have been improving some parts of edx-dl in the previous days and one of my
changes downloads

[2015-06-02 21:36] rohit91 opened #228 "Reason for removing interactive mode?"
Hello!
The interactive mode was very convenient to me. Why was it removed? Instead of removing it altogether, I hoped that it required some explicit command line parameter (for example -i maybe) to run it in interactive mode.

Nevertheless, I still do like edx-downloader!

[2015-06-02 23:05] iemejia commented on #228
Actually maintaining the interactive mode was messy, and we had a long discussion about removing it, since we wanted a more scriptable utility to download videos e.g. from cron files. We paid particular attention of offering the full set of features before removing it so you should not be missing a lot.

You don't see it externally but the current version of the script has vastly improved, paralle

[2015-06-02 23:13] iemejia commented on #226
If you are using the apple version of python please verify that it is resolving well the paths for the dependencies, in the computer I tried it, it didn't find any pip package, but using the macports one it did.

[2015-06-02 23:40] rohit91 commented on #228
Oh! Thanks for the detailed reply. I do see much improvement in latest code. And yeah, I agree that now its much easier to use it in scripts for automated jobs. New features are awesome and worth the price, especially pdf material downloading functionality! Who knows, I might even write a GUI wrapper for interactive experience for beginners, in my free time!

Thanks much! This question/issue may b

[2015-06-03 03:50] rbrito commented on #220
Hi there.

On Jun 02 2015, Ismael Mejia wrote:

Hummm, it seems that edX started to adopt this measure of closing the
courses.  I wanted to enroll in one course myself and I also saw what you
described. :(

Regarding the course being re-offered, I didn't know that. Thanks for the
hint. :) I will enroll in this next session.

That's what I suspect too. I may or may not get to deal with that if I fi

[2015-06-03 04:33] #227 closed

[2015-06-03 05:34] phonx commented on #225
:) that was I thought otherwise we would have have create a mini script to do the conversion ;)

[2015-06-03 05:40] phonx commented on #225
By the way , is Mongodb university work with this script now?

[2015-06-03 06:42] #228 closed

[2015-06-03 07:03] iemejia commented on #225
I think mongodb university support was removed some time ago but i don't now why. Do you know this @rbrito ?

[2015-06-03 07:38] rbrito commented on #225
Hi.

On Wed, Jun 3, 2015 at 4:03 AM, Ismael Mejia <notifications@github.com> wrote:

I think that it should be relatively easy to put back support for
mongodb university. @phonx, can you try my fork from:

https://github.com/rbrito/edx-dl

You just pass the URL of the course and the script should parse it. It
is very primitive and only shows the ids of the videos on youtube,
which you can redirect

[2015-06-03 08:08] iemejia commented on #225
Ok ok, I agree, unquoting is easy, can you please create a pull request for it, I imagine it will support both quoted and unquoted versions of the URLs, no ?

[2015-06-03 08:24] iemejia commented on #225
I briefly checked the structure of mongodb university and they customized a bit the navigation of the site:
1. login goes via /login, not /login_ajax
2, sections are not in <article> paths but in <div> (maybe to be html4 compatible).
3. course link direct to /sillabus, not /info

This wouldn't be hard to fix, but we need to make the section construction more flexible to support eventual site layou

[2015-06-03 08:24] iemejia opened #231 "Add support for https://university.mongodb.com"

[2015-06-03 08:25] iemejia commented on #225
I created a new issue for the support of mongodb university.

[2015-06-03 08:28] iemejia commented on #231
I briefly checked the structure of mongodb university and they customized a bit the navigationof the site:

1. login goes via /login, not /login_ajax
2, sections are not in
paths but in
(maybe to be html4 compatible).
3. course link direct to /sillabus, not /info

This wouldn't be hard to fix, but we need to make the section construction more flexible to support eventual site layout customizations

[2015-06-03 10:19] phonx commented on #231
cool I am waiting - thank

[2015-06-03 12:08] pmitros commented on #148
@lemejia

1. rss functionality would still be very nice. If you have time, we could provide some guidance for how to do this.
2. Number of connections per user is not an issue with videos. It is an issue with any pages in the course itself. Those are not static, and actually require a decent bit of computational power to generate (I can go into detail why this is, but on a high level, the LMS is d

[2015-06-03 12:24] iemejia commented on #148
Cool, I am going to start checking the RSS implementation you had done before and I will tell you, but you can explain me for the moment why that one was not enough, and what is the big goal over that one.

About the second point do you think 5 req/s per user is OK by default ? On the other hand users still can change this value and I can't do anything to restrict that.
I have been thinking about

[2015-06-03 12:25] iemejia commented on #148
(I edited the value from 5 to 8 req/s to have a multiple of 2 that it is worth),

[2015-06-03 13:00] pmitros commented on #148
A good RSS implementation would consist of:

* In course settings, course authors could enable/disable RSS feeds
* If the RSS feed is enabled, there is an RSS button on the course page which users could subscribe to. Ideally, this would include a range of formats (mobile-friendly, large, etc.).
* The RSS feed would automatically update as the course author continues to edit the course.

This would

[2015-06-04 14:42] varoudis commented on #226
Hi,

I get the same error.

Requirement already satisfied (use --upgrade to upgrade): beautifulsoup4>=4.1.3 in /Library/Python/2.7/site-packages (from -r requirements.txt (line 1))
Requirement already satisfied (use --upgrade to upgrade): html5lib>=1.0b2 in /Library/Python/2.7/site-packages (from -r requirements.txt (line 2))
Requirement already satisfied (use --upgrade to upgrade): six>=1.5.0 in

[2015-06-04 14:43] zniazi commented on #226
Sorry for being late to get back to on this one, will email later tonight.

On Tue, Jun 2, 2015 at 7:13 PM, Ismael Mejia <notifications@github.com>
wrote:

[2015-06-04 21:39] zniazi commented on #226
pip is resolved on my computer. I was using Apples version of python. I
installed python3 (brew install python3) and running the script with
python3 and the installation scripts with pip3 install seems to have solved
the problem.

On Tue, Jun 2, 2015 at 7:13 PM, Ismael Mejia <notifications@github.com>
wrote:

[2015-06-07 09:05] iemejia commented on #226
Great, I am closing this right now.

[2015-06-07 09:05] #226 closed

[2015-06-07 09:06] iemejia commented on #76
I am closing this one since beta support for this is included now via PR #234

[2015-06-07 09:06] #76 closed

[2015-06-07 17:36] varoudis commented on #226
Is this script for python3 only?

[2015-06-07 21:59] iemejia commented on #226
Not really, we support both stable releases of python 2.7 and 3.4

[2015-06-10 01:56] phonx opened #237 "just a thought - file name too long"
just a thought - file name too long is lecturer-xxxxxxx.mp4 can you remove lecturer-xxxxxx part or make it optional you students should have the choice.

[2015-06-10 02:00] phonx commented on #237
or make the list of details video playlist  as flat file that saved into course directory for future reference.

Is there a way to download pdf and other courses contents??

[2015-06-10 08:05] yepu opened #238 "Only download first video when there are two videos in a page"
On 24.118x ' Topic 1: Time Travel and Free Will' there are pages with two videos. But the script only download the first video from those page.
The pages are subsection '1. Time Travel' second page and subsection '3. More on Free Will' second page.

[2015-06-10 08:35] iemejia commented on #237
Hi,

Names come from the original uploaded videos, so we can't do much about it, we can rename them, but then the question is which would be the best way to do so, if we choose the unit id it doesn't say much, and many units don't have a title, or it is put in arbitrary fields by the authors, so it is also hard to know what to choose, so those not so clear names are indeed probably the best approa

[2015-06-10 08:35] iemejia commented on #237
About the pdf and other course contents I am preparing a new pull request that must be ready before the week ends to do so.

[2015-06-10 08:37] iemejia commented on #238
can you please tell me the concrete url of one of those multi videos in a page videos,

[2015-06-10 08:45] iemejia commented on #238
And just for reference, so we can be faster in future issue reports, see:
https://github.com/shk3/edx-downloader#reporting-issues

[2015-06-10 09:36] yepu commented on #238
OS: Fedora
Python version: 2.7.10
youtube-dl version: youtube-dl-2015.06.04.1-2.fc22.noarch
Course URL: https://courses.edx.org/courses/course-v1:MITx+24.118x+2T2015/info
subsection URL: https://courses.edx.org/courses/course-v1:MITx+24.118x+2T2015/courseware/706e224047d84301abfe4eb151d1dfc5/23046100f5304df8a083364c56394921/ and https://courses.edx.org/courses/course-v1:MITx+24.118x+2T2015/coursew

[2015-06-11 01:30] phonx commented on #237
Thanks for clearing up

[2015-06-11 01:30] #237 closed

[2015-06-11 14:55] philipvandalen opened #239 "Only downloading directory structure and no videos etc"
OS: Windows 7 Professional Service Pack 1
Python version: 2.7.10
youtube-dl version: 2015.05.20
Course URL: https://courses.edx.org/courses/course-v1:IEEEx+CloudIntro.x+2015T2/info

I have done the following:
pip install -r requirements.txt
pip install --upgrade youtube_dl
python edx-dl.py -u user@user.com -p password --list-courses
You can access 1 courses
 1 - Introduction to Cloud Computing [co

[2015-06-12 00:12] iemejia commented on #239
edx.org has changed the way data are represented internally, this needs to be fixed, and touches, not only youtube videos but subtitles too. However this change has not been updated in other versions of openedx like stanford, so we now need to deal with different extraction cases.
Thanks for reporting.

[2015-06-12 21:05] #239 closed

[2015-06-13 00:39] yepu commented on #238
Videos that got skipped are https://youtu.be/-NvRCu3EDVE and https://youtu.be/eJ0TifbbTWo.

[2015-06-13 01:52] Aleks4ndr commented on #238
I have the same problem:
When downloading "Introduction to Big Data With apache Spark" it downloads only one video per page.

[2015-06-13 07:22] iemejia commented on #238
Indeed, videos are only extract from some metadata in the page, to fix this we need to discover videos that are referrenced in links too.

[2015-06-13 07:22] iemejia commented on #238
@Aleks4ndr can you give me a concrete link (URL) in that course to check if they use a similar method to include both ?

[2015-06-13 11:13] Aleks4ndr commented on #238
iemejia, I don't think that direct link works for you, but in this course lots of pages within many video.
direct link:  https://courses.edx.org/courses/BerkeleyX/CS100.1x/1T2015/courseware/d1f293d0cb53466dbb5c0cd81f55b45b/920d3370060540c8b21d56f05c64bdda/
This is in section Setting up the Course Software Environment (Due June 6, 2015 at 00:00 UTC) first unit with video

[2015-06-14 07:22] IvanFin opened #241 "When downloading the course videos by sections edx-dlm fails to download videos of the second, third, etc section"
os: Windows 7 Ultimate
python version: 2.7.8
youtube-dl version: 2015.5.20
course URL: https://courses.edx.org/courses/BerkeleyX/CS100.1x/1T2015/info

When I enrolled in the course there already had been two sections. So I downloaded them first. Yesterday next section appeared. I tried to download new section but the script failed.

I also want to add that this bug is not course specific on my mac

[2015-06-15 14:13] IvanFin commented on #241
add-on.

It seems to me that this is a global problem which is not connected with the way someone downloads lectures. I tried to download fresh MOOC videos from edX https://courses.edx.org/courses/NotreDameX/MAT150x/2T2015/info and script also failed.

May be, this issue exists due to problems with youtube-dl and just another change in YouTube layout or something like this. This is my hypothesis,

[2015-06-15 17:07] iemejia commented on #238
I just pushed an improved version over @Aleks4ndr changes. Thanks a lot for the pull request again @Aleks4ndr.
Please can you guys help me test both cases (youtube videos in links as mentioned by @yepu and multiple videos in a single unit) as mentioned by @Aleks4ndr.

[2015-06-15 17:08] iemejia commented on #238
I forgot to mention also that once this is merged, the script will also download by default extra resources (.zip, .pdf, .ppt, etc). So please if you find issues with this please report to.

[2015-06-15 17:27] iemejia commented on #241
Hi, this warning happens when the script tries to download subtitles, but it does not find any downloaded video (to rename the subtitles), I think the error in this case is related to the layout changes of last week. Can you please update to the latest version of the script (in master) and test again. Sorry I just can't replicate it.

I just pushed some interesting changes (PR #243), so maybe is a

[2015-06-18 14:00] Glavin001 commented on #168
+1 Could not believe this had not already been published to pypi. Great project, worked very well. Thanks!

[2015-06-20 23:15] IvanFin commented on #241
Sorry for late reply. Was a little busy. I've enrolled in too many courses plus my job and thus almost any time interval is reserved.

I checked the recent version of edx downloader. Current issue had gone away. Yet I noticed the presense of the [issue #238](https://github.com/shk3/edx-downloader/issues/238)

[2015-06-20 23:16] #241 closed

[2015-06-21 21:13] bish4u opened #245 "Doesn't download stanford lagunita"
os: Win 7
python version: 3.4.3
youtube-dl version: Up to date (checked using the upgrade command)
course URL: https://lagunita.stanford.edu/courses/HumanitiesSciences/Econ-1/Summer2014/info

[2015-06-21 21:22] bish4u commented on #220
Gettiing this error (the course shows in my --list)

Traceback (most recent call last):
  File "edx-dl.py", line 6, in <module>
    edx_dl.main()
  File "D:\software\edx-downloader-master\edx_dl\edx_dl.py", line 710, in main
    for selected_course in selected_courses}
  File "D:\software\edx-downloader-master\edx_dl\edx_dl.py", line 710, in <dictc
omp>
    for selected_course in selected_courses}

[2015-06-22 07:35] philipvandalen opened #246 "OSError: [Errno 2] No such file or directory"
os: Linux ubuntu 3.19.0-21-generic #21-Ubuntu SMP Sun Jun 14 18:31:11 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu 15.04 64bit
python version: Python 2.7.9
youtube-dl version: youtube_dl-2015.06.15-py2.py3-none-any.whl
course URL: https://courses.edx.org/courses/course-v1:IEEEx+CloudIntro.x+2015T2/info

ubuntu:~/Downloads$ wget https://github.com/shk3/edx-downloader/archive/master.zip
--2015-06-

[2015-06-26 09:49] Gianfranco-Campana opened #247 "No Subtitles nor other file types then mp4 in last implementation?"
In old interactive mode, there was a selection for downloading subs, now I can't see such option in "python edx-dl.py".

I wish to download subs ( of course) and the many external file and links ( as pdf, etc).

os: Windows 7 PRO
python version: 2.7
youtube-dl version: last (25/06/2015).
course URL:  https://courses.edx.org/courses/BerkeleyX/CS100.1x/1T2015/info

my requirements log:

You are usin

[2015-06-26 15:31] iemejia commented on #247
For info
[code]

[2015-06-26 15:33] iemejia commented on #247
To download other files (pdf, zip, etc) wait until pull request #243 is merged.

[2015-06-26 15:33] #247 closed

[2015-06-26 15:42] Gianfranco-Campana commented on #247
Thank you!

Gianfranco Campana
Uff. ICT - Gruppomegamark
<https://www.linkedin.com/profile/view?id=272029401&trk=nav_responsive_tab_profile_pic>

2015-06-26 17:33 GMT+02:00 Ismael Mejia <notifications@github.com>:

--

Rispetta l’ambiente. Hai davvero bisogno di stampare questa mail?

[2015-06-26 23:24] iemejia commented on #245
Hi, can you please retry against the current master (changes were merged one hour ago) and confirm me if this is still an issue.
Thanks.

[2015-06-26 23:27] iemejia commented on #246
Can you please re test this agains the current master versions (changes were included one hour ago) and confirm me if it is still an issue.
Thanks.

[2015-06-26 23:53] bradlington commented on #245
I had the same issue as bish4u in the previous version. I have updated and tried again and I still get the same error: "You have not entered a valid course url, check the correct url with --list-courses". Using --list-courses lists only courses from edX and not from other openedX courses.

Course: https://lagunita.stanford.edu/courses/DB/RDB/SelfPaced/info

[2015-06-27 04:18] rbrito commented on #245
Are you guys using the `-x` option to choose which site to use? For lagunita, that should be `-x stanford`.

Otherwise, please send the entire command line that you used, as well as the output that you received, so that we can give better answers.

@iemejia, I think that this should be in the documentation, shouldn't it?

[2015-06-27 15:25] bradlington commented on #245
@rbrito, thank you, it works with this option. Running with -x lists every other platform option too.

[2015-06-27 23:14] bish4u commented on #245
Thanks for looking into this iemejia and rbrito. It's starts downloading now but fails with the following error -

Processing 'https://lagunita.stanford.edu/courses/HumanitiesSciences/Econ-1/Summ
er2014/courseware/61a3a56b248a4d72ac197161181cc871/9ba5c10fb6b4467b8ca86b3a6e9b7
6a6/'
Processing 'https://lagunita.stanford.edu/courses/HumanitiesSciences/Econ-1/Summ
er2014/courseware/61a3a56b248a4d72ac

[2015-06-28 11:07] artasom commented on #245
I have also a problem downloading the following MOOC:

https://lagunita.stanford.edu/courses/Medicine/MedStats./Summer2015/info

And I get the following error

Traceback (most recent call last):
  File "edx-dl.py", line 6, in <module>
    edx_dl.main()
  File "/Volumes/xyz/MOOCs_wd/edx-dl/edx_dl/edx_dl.py", line 752, in main
    for selected_course in selected_courses}
  File "/Volumes/xyz/MOOCs_w

[2015-06-28 16:24] shockme opened #249 "edx-dl downloads incomplete/duplicate content with different name"
OS: Ubuntu 14.04
Python 2.7.6
youtube-dl 2015.06.25
course URL: https://courses.edx.org/courses/course-v1:IEEEx+CloudIntro.x+2015T2/info

For this course (I haven't tested for others) on the first run edx-dl doesn't download all the videos, and from the 2nd run onwards it starts duplicating content.

This is the output of `diff -y -W 200 ../run1_files.txt ../run2_files.txt` (you need to scroll sid

[2015-06-28 16:39] shockme commented on #249
`$ cat run1_files.txt`
[code]

[2015-06-28 16:40] shockme commented on #249
`$ cat run2_files.txt`
[code]

[2015-06-28 16:41] shockme commented on #249
`$ cat run3_files.txt`
[code]

[2015-06-29 06:07] philipvandalen commented on #246
Still the same issue, unfortunately

[2015-06-29 07:02] rbrito commented on #249
@shockme, yes, I have run into that myself too.

As a workaround, please try running the script with the option `--sequence`. I will, BTW, change that name for our (already delayed) first release so that it is called `--sequential` instead.

Or, perhaps, even make it the default, while the multithreaded version being set as marked "experimental" or something like that.

Please, report back your ex

[2015-06-29 07:05] rbrito commented on #246
@philipvandalen, do you have youtube-dl on your path? It seems like it is not being executed.

In other words, can you execute youtube-dl manually? What's the output of

    youtube-dl --help

?

[2015-06-29 07:15] rbrito opened #250 "Hooking up with Code Climate"
Just for fun and to make things faster, since I don't need special permissions on my own repositories, I decided to hook up my fork of this repository to Code Climate.

The result couldn't be better:

https://codeclimate.com/github/rbrito/edx-downloader

For comparison purposes, here is the same kind of analysis that is performed with coursera-dl:

https://codeclimate.com/github/coursera-dl/course

[2015-06-29 07:19] philipvandalen commented on #246
i feel so embarrassed now, was not in my path, much appreciate all the effort from the team, you guys are brilliant

[2015-06-30 08:07] Gianfranco-Campana opened #251 "no attribute 'reason ' downloading edX Home Page BerkeleyX: CS100.1x Introduction to Big Data with Apache Spark"
While I run:

I get this error after the first 14 mp4+srt  had been downloaded correctly:

[download] https://courses.edx.org/courses/BerkeleyX/CS100.1x/1T2015/xblock/i4x:
;_;_BerkeleyX;_CS100.1x;_video;_266672cdfc3948b4ac9474a2c3525d79/handler/transcr
ipt/translation/en => Downloaded\Introduction_to_Big_Data_with_Apache_Spark\01-W
eek_1_-_Data_Science_Background_and_Course_Software_Setup\08-BERCS

[2015-06-30 15:54] iemejia commented on #250
wow, cool stuff, so all the refactoring work has been ok at least from those metrics, nice.
@shk3 can you please assign @rbrito as the owner of the project so we can have all this nice things in the official repo.
Rogerio maybe he is not following the issues, can you please write to him again.

[2015-06-30 16:13] iemejia commented on #246
good, i was kinda worried since I could not reproduce it and it was similar to an old bug.

[2015-06-30 16:17] iemejia commented on #249
I don't think that the sequential extraction fixes this, or I don't see the logic of why it would do it, if there are three independent processes:

1. extracting resources (getting the 'downloadable' URLs)
2. removing repeated resources (delete extra URLs)
3. download the URLs

The only process that happens in parallel is 1, so I can't see any relation between sequential/parallel parsing and the b

[2015-06-30 22:41] FilipBg commented on #163
The same issue here.
Using Win8, youtube script up to date.
I am python noob, installed it an hour a go so I have no idea what to do.
![screenshot_18](https://cloud.githubusercontent.com/assets/13125788/8443771/dd845d42-1f89-11e5-8495-e5f2c232b358.png)

[2015-07-01 01:39] iemejia commented on #163
Try to copy the youtube-dl.exe file to the same folder where you have edx-downloader, it seems to be this.

[2015-07-01 11:26] FilipBg commented on #163
It works indeed. Thank you.

[2015-07-02 14:07] philipvandalen commented on #246
now getting the following error:

IOError: [Errno socket error] [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)

[2015-07-02 19:02] yepu opened #253 "QEMx Quality Engineering and Management has embedded html pages"
os: Fedora
python version: 2.7.10
youtube-dl version: 2015.06.04.1
course URL: https://courses.edx.org/courses/course-v1:TUMx+QEMx+2T2015/info
sub-section URL: https://courses.edx.org/courses/course-v1:TUMx+QEMx+2T2015/courseware/78f1736c1eff41c5adda0cab4b754ed7/f77e62087d9945e0b2e5056573aedb50/
This page has videos and youtube link that didn't get downloaded.
[code]
Link to the one embbeded html

[2015-07-03 02:01] rbrito commented on #249
@iemejia, the thing is that I'm not getting a reproducible behavior with the script. Sometimes I do, sometimes, I don't.

I have not paid too much attention to how we extract resources (I will do that in the near future, I hope :)), but we are surely missing some stuff. Also, the deduplication phase is not working as it should. I guess that pickling/printing the stuff that we get for post-mortem a

[2015-07-03 08:14] philipvandalen commented on #246
now getting the following error:

IOError: [Errno socket error] [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)

[2015-07-03 13:27] iemejia commented on #246
The problem you are having is caused by an untrusted SSL certificate, not by the script.
Can you verify that you have the latest version of your certificates (ca-certicates) in your linux system, and the requests library ?

[2015-07-03 14:09] iemejia commented on #253
thanks for reporting, this embedded html thing is such a curiosity, also it is funny that we never looked for <video> tags in the script, this is to be improved too.

[2015-07-06 14:25] philipvandalen commented on #246
another noob question, how do i do that? it downloads part 1, 2, 3 everything but bombs out on that error

[2015-07-06 14:54] shk3 commented on #250
Do you mean transferring to an organization or his personal account? I
would prefer to transfer the repo to an organization account so that all of
us can do necessary work on it.

In terms of deployment hook setting, if there is anything needing me to do
before we figure out an account to transfer the repo to, feel free to email
me so that I can apply the necessary change as soon as possible.

Geo

[2015-07-06 19:16] dvelagap commented on #246
Any ideas why i am seeing this error

[info] Output directory: ../edx_downloads/propability
[download] https://youtube.com/watch?v=CySStZiDeUE => ../edx_downloads/propability/Introduction_to_Probability_-_The_Science_of_Uncertainty/01-Unit_0-_Overview/01-%(title)s-%(id)s.%(ext)s
Traceback (most recent call last):
  File "edx-dl.py", line 6, in <module>
    edx_dl.main()
  File "/Users/durgavelagap

[2015-07-07 08:33] rbrito commented on #250
@shk3, you can transfer the repository to https://github.com/coursera-dl

The name may be misleading at the moment, but I can think about renaming it later.

By transferring the repository there, I can grant you guys privileges to the repository (oh, and I wouldn't mind it if any of you could also lend a hand with https://github.com/coursera-dl/coursera, as I'm having a hard time keeping up with m

[2015-07-07 14:10] shk3 commented on #250
Hi @rbrito,

I am asked for admin rights when I am transferring the repo to the organization. I get the following error message: "You don't have admin rights to coursera-dl"

Would it be possible to add me and @iemejia as admin in that org? Also, it would be nice if we can rename the org as the name is indeed misleading.

[2015-07-08 05:14] shk3 commented on #250
@rbrito I've received the invitation from you regarding joining coursera-dl. After joining it, I still cannot transfer the repo. I am keeping seeing the error message "You don't have admin rights to coursera-dl".

[2015-07-08 11:48] rbrito opened #257 "Consider using the standard library module logging for messages"
From my pull request #256, I reproduce the important bits below:

----

There is more to come regarding ignoring errors, but I think that the output of edx-dl is *so* cluttered that I can't continue hacking with all those informational messages passing through my console.

I will definitely create an experimental branch containing a conversion of `compat_print` to the regular Python `logging` modu

[2015-07-08 14:15] shk3 commented on #257
I agree with the idea of working on an experimental branch, not only due to compatibility tests, but also because this work might get a lot of code changed. Ideally, we could utilize the recursive structure of `logging` to create multiple nested loggers, which might also be useful to control the level of noise.

[2015-07-08 15:05] iemejia commented on #250
@shk3 can't you just do the opposite and put rbrito as an admin/owner so he can move the project and that's it, I suppose he will then give you the appropriate rights for the repository in the organization.

[2015-07-08 15:16] iemejia commented on #257
I am in the we have to 'motivate' (read force) the user to test, If I were you, I would change it in a branch but push it to master ASAP like any other normal fix, and wait until things crash to fix them, that's what we have done in recent weeks and it has worked pretty well, and also the change is not that dramatic considering that some of the fixes are in place (e.g. filename cleaning, refactori

[2015-07-11 23:32] shk3 commented on #250
@iemejia, oh, I didn't think of it. Let me try it.

[2015-07-11 23:33] shk3 commented on #250
@rbrito I cannot transfer this repo to you as "rbrito/edx-downloader already exists".

[2015-07-12 00:59] shk3 commented on #250
Shall I rename the repo directly to "edx-dl" to finish the transfer? I am assuming it will preserve URL by redirections, right?
Do we have any better plan?

The backup plan is that I can create a new org for this project, and I assume that I can grant people necessary privileges for adding hooks and adding new collaborators. However, I am fine with other better plans if any.

[2015-07-12 07:23] iemejia commented on #250
Good, you can rename it, at least from the documentation github preserves the redirections. Go ahead !!!
About the plan b it is not a good idea, since rogerio has an organisation and the goal is to have both projects (coursera and edx-dl) together.
[code]
from:
https://help.github.com/articles/transferring-a-repository/
https://help.github.com/articles/renaming-a-repository/

[2015-07-12 08:44] shk3 commented on #250
Sounds good. I will do it tomorrow and I also want to wait for Rogério's input.
Just to confirm, we have agreed on edx-dl as the new name, right?

Sent from my iPhone

[2015-07-13 00:23] anirban6908 opened #258 "Download not successful (if course is archived)"
OS: Ubuntu 14.04
Python 2.7.6
youtube_dl-2015.07.07
Course URL : https://courses.edx.org/courses/LinuxFoundationX/LFS101x/2T2014/info

I cloned the repository and installed the dependencies. This is the output of
 python edx-dl.py -u ****@****.com -p ******  https://courses.edx.org/courses/LinuxFoundationX/LFS101x/2T2014/info

Traceback (most recent call last):
  File "edx-dl.py", line 6, in <modu

[2015-07-14 01:09] NinKenDo64 opened #259 "timeout on slow connection (httplib.IncompleteRead)"
Operating System: WIndows 7 64-bit
Python Version: Both 3.4.3 and 2.7.10
youtube-dl Version: 2015.07.07
Course URL: https://courses.edx.org/courses/course-v1:MandarinX+MX101x+2T2015/info

I can't tell what it's failing on, however it is unable to download anything before it fails. I've tried using it on the two Python version mentioned above.

I'm currently running on a slower connection 256kb/s,

[2015-07-14 03:04] bish4u commented on #258
Exactly the same error -

OS: Windows
Python - 3.4.3
youtube_dl- Up to date
Course URL : https://courses.edx.org/courses/MITx/15.071x/1T2014/info

[2015-07-14 03:07] bish4u commented on #245
Same error with Edx course  https://courses.edx.org/courses/BerkeleyX/CS100.1x/1T2015/info

Kindly suggest workaround

[2015-07-14 06:15] shk3 commented on #250
@rbrito Are you okay with this plan? I am going to rename the project to `edx-dl` and transfer to you, so that you can transfer the project to the org.

[2015-07-14 06:16] shk3 commented on #250
Oh, actually @rbrito has a repo called "edx-dl"... We have to find a way to get around of it.

[2015-07-14 08:48] iemejia commented on #250
@rbrito can you please rename or remove your edx-dl project (or the other one) so @shk3 can proceed.

[2015-07-14 10:01] iemejia commented on #258
I think this happens with courses who are not available anymore (archived they call them). Probably we have to detect the mistake and print a warning since we can't download the material because the 'Courseware' section is not available in those old courses.

However for your particular cases they can be a solution:

@anirban6908 You can try to download the most recent version of the course you wa

[2015-07-14 10:23] iemejia commented on #259
Hello, I tried to replicate this issue, but it seems the case is due to your slow connection, however what you can do is to try to download the course section per section, you can use the option --list-sections to view the section numbers and then choose the given section with the --filter-section option.

[2015-07-14 10:24] iemejia commented on #259
I am closing the issue since it is not a bug.

[2015-07-14 10:24] #259 closed

[2015-07-14 10:27] iemejia commented on #246
@philipvandalen could you make it work ?
@dvelagap can you please create an independent issue for your error and give more details.

[2015-07-14 10:36] iemejia commented on #245
@artasom and @bish4u can you confirm me if you can access the Courseware section via the webpage, it seems that the courses has already been archived, is it the case ?

[2015-07-14 10:40] artasom commented on #245
I was able to access the Courseware when I posted the issue, but this is not longer the case...

[2015-07-14 10:47] iemejia commented on #245
thatś what I thought, so this course is archived now, you have to way until the next offering, sorry.

[2015-07-14 10:49] artasom commented on #245
Thanks for the help anyway :)

[2015-07-14 10:49] iemejia commented on #245
I am closing this issue since it seems to not to be a case of an error downloading courses from 'lagunita'. For the problem of not having a warning for archived courses please follow #258.

[2015-07-14 10:49] #245 closed

[2015-07-14 17:53] kalyandechiraju commented on #258
just wanted to know if youtube_dl and youtube-dl are same? Because download failed for me first later when I installed youtube-dl separately then download works fine.
sudo apt-get youtube-dl
 Because in requirements.txt file it is youtube_dl >= DATE. Is that the issue?

[2015-07-14 19:33] iemejia commented on #258
@rbrito can you answer this question about the dependency name (I am not sure) ?

[2015-07-15 04:41] shk3 commented on #250
@iemejia I am actually not sure if simply renaming would work as his repo will have redirection from rbrito/edx-dl to the new name. We should do a little bit experiment.

[2015-07-15 07:26] phonx commented on #231
How is this coming along - need any help?

[2015-07-15 20:22] shk3 commented on #250
Hi. I'm resurfacing. :)

On Jul 06 2015, George J. SUN wrote:

TL;DR: Go ahead and just transfer the repository to me and I'll take care of
the rest.

Long version:

I have renamed the repositories that are my forks (both edx-downloader and
edx-dl) to other names and you can transfer the repository to me under
whatever name that you wish and I will do these necessary things (renaming,
enabling tra

[2015-07-15 21:19] rbrito commented on #258
Hi there.

On Jul 14 2015, Ismael Mejia wrote:

Some clarifications here. Both courses mentioned (archived) have empty
contents (and we should not be bombing with empty results from beautifulsoup
--- @iemejia, can you please grab one of those pages so that we can put them
under our test suite?).

In other words, there is little that we can do here regarding downloading
from those courses (unless s

[2015-07-15 21:20] rbrito commented on #250
On Jul 14 2015, George Monkey wrote:

They are renamed now. Feel free to go ahead and transfer the repo whenever
you like.

Thanks,

--
Rogério Brito : rbrito@{ime.usp.br,gmail.com} : GPG key 4096R/BCFCAAAA
http://cynic.cc/blog/ : github.com/rbrito : profiles.google.com/rbrito
DebianQA: http://qa.debian.org/developer.php?login=rbrito%40ime.usp.br

[2015-07-16 03:34] rbrito commented on #250
I have no idea why my long response was attributed to @shk3. Perhaps I hit a bug with github without knowing it? :)

[2015-07-16 06:33] shk3 commented on #250
@rbrito That's weird... I saw you sent to me and CC to the GitHub alias. I will do the operation tomorrow. I am actually very busy this week.

[2015-07-16 19:38] darkoob12 opened #260 "add option to export the list of urls"
hi,
i want to know if its possible to create a list of urls of all the resources of a course.
i thought that the cache option can do the job but it seems that it stores the urls in a different format.

i want to use it in a download manager software like idm.

thanks

[2015-07-17 01:08] bish4u commented on #258
Guys, Here is an unarchived course but still unable to download -

https://courses.edx.org/courses/BerkeleyX/CS190.1x/1T2015/info

[2015-07-17 11:53] balta2ar commented on #77
I see some inspiring activity in this repo lately. Has situation changed since my request was created? @shk3, @rbrito, guys?

[2015-07-18 05:46] rbrito commented on #77
@balta2ar, thanks for the reminder. Yes, we are slowly refactoring things and some functions/pieces of coursera-dl are already being used here in edx-dl. I hope to have them soon sharing more code (e.g., the non-site specific parts), since life is so short. :)

Oh, I would love to have more contributors both here or on coursera-dl. Any help (even triaging bug reports, seeing if a bug is still pres

[2015-07-19 05:40] shk3 commented on #250
@rbrito it still does not proceed... They have too many sanity checking...
"rbrito already has a repository in the shk3/edx-downloader network"

[2015-07-19 06:17] rbrito commented on #250
@shk3, Oh, darn.

I just deleted my repository. I hope that it works now.

Thanks.

[2015-07-19 06:23] shk3 commented on #250
Here you go! Finally. @rbrito

[2015-07-19 07:44] rbrito commented on #250
Oh, let's see how things go now...

[2015-07-19 07:44] rbrito commented on #250
OK, it seems to have worked. Now, to change some other things, like renaming the repo.

[2015-07-19 07:48] rbrito commented on #250
OK, moved to the organization.

[2015-07-19 07:49] rbrito commented on #250
OK, Renamed the repository.

[2015-07-19 07:53] rbrito commented on #187
I think that I have enabled Travis CI for our repository. Here is the URL:

https://travis-ci.org/coursera-dl/edx-dl

I will push something trivial to make it build something, so that we know if it is working or not.

[2015-07-19 07:57] rbrito commented on #187
It seems to be working (at least for the moment):

https://travis-ci.org/coursera-dl/edx-dl/builds/71622022

Great! :) Our first failures! :)

[2015-07-19 07:59] rbrito commented on #187
I'm closing this issue now. :)

We may still want to enable other services in the near future, though. :)

[2015-07-19 08:00] #187 closed

[2015-07-19 08:16] rbrito commented on #250
I think that linking with codeclimate worked: https://codeclimate.com/github/coursera-dl/edx-dl/

Does it work for you guys?

[2015-07-19 08:31] rbrito commented on #250
It seems to be working and I just put some badges on the main documentation/README.

I think that we can close this issue, then. If I missed something, please let me know (I'm sleepy, I *must* have missed something).

[2015-07-19 08:31] #250 closed

[2015-07-19 21:40] shk3 commented on #250
@rbrito Awesome! The redirection works! So do I still need to create an informative shk3/edx-downloader? I feel like it might not be necessary anymore.

[2015-07-20 19:58] rbrito commented on #250
Hi, @shk3 and @iemejia.

On Jul 18 2015, George Monkey wrote:

Excellent! Did you guys get any e-mail when the tests fail?

If not, can I put your e-mail addresses on the `.travis.yml` file?  The
e-mails will be publicly visible, so if you want one address in particular,
please let me know.

You can see something similar in the youtube-dl file:

    https://github.com/rg3/youtube-dl/blob/master/.t

[2015-07-24 08:42] iemejia commented on #187
Awesome work for the project organization and this Rogerio, thanks :)

[2015-07-24 08:46] iemejia commented on #250
Hi guys, I am really happy that this is finally over. Great work. Thanks a lot @shk3 for been generous about moving the repo, and thanks a lot to you @rbrito for always paying the best attention to details.

You can add me to the .travis.yml file.

[2015-07-24 09:10] iemejia commented on #260
Hello,
I have thought about an option to export this, and I will probably implement in the future, however you have to check that your download manager also supports downloading videos from youtube-dl, since a good amount of the material is downloaded from there.
Best,
-Ismael

[2015-07-24 09:12] iemejia commented on #260
Notice that a serious issue that will come with this is renaming, since we put prefixes to keep the material organized, does your download manager support a way to pass this ? I have checked with wget and I don't seem to find how to do this using the '-i' option.

[2015-07-24 09:22] iemejia commented on #231
Hi,
I don't have a lot of time for the moment to implement this (still some unsolved issues in other areas), however I think writing this can be a chance to get involved in the project, if you feel like it I can give you some hints on how to implement it.

[2015-07-24 09:40] iemejia commented on #168
Now that the project is moved to the good organization I think this is the next step.
@rbrito do you plan to additionally rename the organization to 'mooc-dl' or not ? This is the last missing thing, isn't it ? Don't hesitate to tell me if there is something I can do to get this published.

[2015-07-25 05:17] shk3 commented on #250
Thanks, @rbrito. You can go ahead to add it.

[2015-07-25 07:00] rbrito commented on #231
Hi.

On Jul 24 2015, Ismael Mejia wrote:

Yes, we still have some broken behavior that I will file as bugs after
working with the script for my own personal use (and seeing it fail under
some circumstances that I would sincerely *not* want it to have failed).

Agreed once again. We need to foster some community involvement or the
management of the project starts to get out of hand (e.g., `coursera

[2015-07-25 15:08] MasterDevil90 opened #262 "Cannot download files"

[2015-07-26 08:54] iemejia commented on #262
?

[2015-07-26 11:33] artmara opened #263 "cannot download videos from open course https://courses.edx.org/courses/course-v1:MITx+3.15x+1T2015/info"
![edx](https://cloud.githubusercontent.com/assets/13506994/8893677/d164fe5c-339a-11e5-825f-e1f2620c93fd.png)

[2015-07-26 15:38] silpol commented on #218
@shk3 we are suggested to localize (not just translate) messages, along with possible time, date and other data types people get used to read in own language/format/etc.

[2015-07-27 08:43] iemejia commented on #257
PR #261 introduced this, so I am closing it, however verbose levels can be improved in further commits.

[2015-07-27 08:43] #257 closed

[2015-07-27 08:45] iemejia commented on #263
Hi,
Thanks for reporting, this is the same case of issue #258. We have to include a warning to handle this case. I am marking it as duplicate since I hope we deal with it in the previously reported issue.

[2015-07-27 08:46] #262 closed

[2015-07-27 08:51] iemejia commented on #246
I am closing this issue since no further comments have appeared for more than a week, and I could not replicate both comments. Feel free to reopen and include more information if the issue is still present.

[2015-07-27 08:51] #246 closed

[2015-07-27 09:19] iemejia commented on #263
I am reopening the issue since I just saw that this is now an open course, and open courses are not part of the course list you can subscribe, so this is a different issue.

[2015-07-27 09:19] iemejia commented on #263
For ref the course is
https://courses.edx.org/courses/course-v1:MITx+3.15x+1T2015/info

[2015-07-28 14:48] AmeBel commented on #246
I am one day late, but i am having the same issue

[code]
If it helps, this course have ended a while back

[2015-07-28 15:18] shk3 commented on #187
+1 :-)

[2015-07-30 11:40] balta2ar commented on #77
@rbrito @shk3 Thinking about it a little more... What do you think about merging it with youtube-dl? After all, all these tools are made for tricky extraction of file links from the sites and downloading them. Plus, youtube-dl already has a great infrastructure and it's easy to add new sources. Is this too crazy idea, why, and why not?

[2015-07-30 12:07] dentarthur opened #265 "Repeated failure at same point in download from edx Ignorance101x. Also duplications."
Repeated failure at exactly this point from course:

 https://courses.edx.org/courses/course-v1:ANUx+Igno101x+2T2015/info

[download] Downloaded/Ignorance/03-3._Where_does_ignorance_come_from__Part_2/11-Ignorance MOOC 14 08 14 3 2-mj8RYqHCsN0.mp4 has already been downloaded
[download] 100% of 88.19MiB
[download] https://courses.edx.org http://anux-cdn.anu.edu.au/ANU-IGNORANCE1x/Week3Lectures/AUTOC

[2015-07-30 13:37] dentarthur commented on #265
Above 2 log excerpts should be sufficient. But attached are four subsequent successive logs for the same two types of failure.

Cannot see upload for .txt option.

Available for email on request.

[2015-07-31 03:39] dentarthur commented on #265
Ok I discovered -i to ignore errors so problem unimportant.

Still worries me that I will have to check logs and note problems to fix manually or report to edx course staff.

As I recall coursera-dl does many retries before giving up on a file and then continues. Wouldn't this be easy to copy and necessary for potentially transient cloud errors?

Also I liked the coursera-dl feature for taking lis

[2015-07-31 19:50] #263 closed

[2015-07-31 19:56] iemejia commented on #263
I changed the name just to have a reference of the real problem solved.
Thanks again @balta2ar

[2015-08-03 04:08] yceron opened #267 "ERROR: YouTube said: This video does not exist."
Getting the following error trying to download MITx: 15.071x The Analytics Edge and then it crashes.
ERROR: YouTube said: This video does not exist.

It downloaded the first three videos and the first PDF for the first unit and then it throws the error.

OS Version: Windows 10, 64bit
Python version:  3.4
youtube-dl version: 2015.7.21

Course url: https://courses.edx.org/courses/course-v1:MITx+15.0

[2015-08-03 07:42] iemejia commented on #267
If you open the webpage for the video it seems it is not available anymore.
https://www.youtube.com/watch?v=iTpOrOvxx7o
You can maybe try to download the course with the --prefer-cdn-videos to see if the video is available there.

Extra note:
We have to fix the script to deal with non-zero return values from youtube-dl.

[2015-08-03 13:39] yceron commented on #267
I tried with the CDN option, I forgot to add that, unfortunately got the same result.

[2015-08-03 14:48] balta2ar commented on #267
[code]
@iemejia What's the strategy to deal with them? Simply run youtube-dl up to N times?

[2015-08-03 14:52] balta2ar commented on #260
We might want to implement something like `--export-format` option that allows user to specify output format. Placeholders like `%{url}`, `%{prefix}` or `%{filename}` might be available among the variables the format.

[2015-08-03 15:01] balta2ar commented on #238
@iemejia @yepu @Aleks4ndr What's the status of this issue? Is it still relevant?

[2015-08-03 15:17] balta2ar commented on #258
@anirban6908 @bish4u Is this still relevant? I can't reproduce the stack trace.

[2015-08-03 15:18] balta2ar commented on #222
@rbrito ping? :)

[2015-08-03 20:06] iemejia commented on #267
@balta2ar For the moment we don't consider 'retry' (since I think youtube-dl does it), I was referring more to the fact that if the video is not available (like in that case) the script should continue downloading the rest of the available videos and don't break.

[2015-08-03 20:06] rbrito commented on #267
Hi.

On Aug 03 2015, yceron wrote:

Please, use the option `--ignore-errors` when invoking the script.

I'm still unsure what should be a sane (read: "default") behavior here. :(

There are some errors that are mostly benign (like the one above with
youtube-dl saying that the video doesn't exist anymore), but some other SSL
errors usually indicate serious problems and I'm not sure if we want to
ex

[2015-08-03 20:08] rbrito commented on #238
Hi. Has anybody tested this issue? @yepu, @balta2ar, can you help here?

[2015-08-03 20:09] rbrito commented on #258
@bish4u, like @balta2ar said, can you reproduce the problem? We would like to close bug reports that are not relevant anymore.

[2015-08-03 20:14] iemejia commented on #260
I like your idea, but on the other hand I would like to keep this as simple as possible (less options = less maintenance), one option would be to generate a raw file with the URLs but that would lose the naming info, maybe a .csv with just the two columns url, name. Other option, not as nice but way more practical would be to generate a bash script, e.g. to download with youtube-dl and curl with -

[2015-08-03 20:19] rbrito commented on #222
@balta2ar, oh, thanks for the ping---and, yes, I *really* appreciate being ping'ed on issues, because I'm currently falling behind my stuff.

I have already implemented both the id stuff and the `--ignore-errors` option. I think, BTW, that we should advertise more the `--ignore-errors` option, since we are likely to get a flood of bugs related to it.

Would anybody please send a patch to our docum

[2015-08-03 20:19] #222 closed

[2015-08-03 20:20] iemejia commented on #238
Oh I forgot to close this one, this is working at least in the 'new edx-dl' version, I plan to fix it too for the old version (e.g. the one installed in stanford), however i think we can close this issue, since I think the priority should be in the current version of the platform, and its main site.

[2015-08-03 21:57] yepu commented on #238
Hi, I no longer have this issue.

[2015-08-03 22:35] rbrito commented on #238
@iemejia, Gee, I'm getting old. I did not remember that we had 2 extractors and had to read the code to remember that!

Anyway, I'm closing this bug, then. Thanks to everybody involved!

[2015-08-03 22:35] #238 closed

[2015-08-03 22:39] rbrito commented on #258
Well as we don't concatenate a string with `None` anymore (thanks @balta2ar), which was the initial issue reported, I will take the liberty to close this bug.

If there are other issues, please, *do* file another issue so that we don't forget.

[2015-08-03 22:39] #258 closed

[2015-08-04 13:19] yceron commented on #267
Using the  `--ignore-errors` option worked without any problems. Thanks!

[2015-08-04 18:33] darkoob12 commented on #260
thanks for responding
i believe a raw list will work for my purpose, download managers like DownThemAll (firefox add-on)  or IDM  obtain a name from the server, which I think is fine. Of course we'll loose the nice directory structure that your software creates but the order of the files can be understood.

In my country, Iran, internet access is limited and i can only afford to download at specif

[2015-08-04 21:44] iemejia commented on #267
I am closing this, Rogerio maybe it is a good idea to put the --ignore-errors somewhere in the troubleshooting doc. [talking about getting old and amnesic, I forgot this option too ;)].

[2015-08-04 21:44] #267 closed

[2015-08-05 18:52] rbrito commented on #260
While I have never (well, not that I know, at least) been a target of censorship, I completely agree with having alternative ways of downloading stuff.

I also think that using a mass command-line dowloader like `aria2c` is a good thing, @darkoob12 (if you don't have it, try to get it), since it creates a thread-pool and downloads all the files in parallel---in fact, it dowloads both a single file

[2015-08-05 19:21] rbrito opened #269 "Recode named tuples as classes"
From the review that I started from @balta2ar, I wrote:

----

[2015-08-05 19:34] #260 closed

[2015-08-05 19:43] rbrito commented on #265
@dentarthur, yes, skipping here is harder than with coursera exactly due to the fact that we don't know the names of the videos (well, I have not studied the current structure of edX regarding videos having titles), but we have to know the file names to skip things that were already downloaded.

Furthermore, coursera has standardized their videos (unless we take the new on-demand courses into acco

[2015-08-06 10:49] dentarthur opened #270 "Allow avoid youtube download option for faster updates"
1. Updates are substantially slower than coursera-dl because checking whether a video file has been downloaded requires discovering its filename by accessing its youtube page.

2. Many edx courses provide non youtube versions via a "download" button. Perhaps also when viewing directly - I never do so I don't know. An "avoid youtube" option would check the filename against the direct dowload versio

[2015-08-06 11:10] dentarthur opened #271 "Provide "update all" option"
1. coursera-dl allows taking list of courses from names of sub-directories (using `ls CURRENT`) where CURRENT is where I keep them all and each folder within corresponds to the specific portion of coursera URLs that specifies a particular course (subfolders easily created manually).

2. edX and I assume other openedx sites don't use a similar URL structure. But specifying -o CURRENT (or whatever)

[2015-08-06 11:24] balta2ar commented on #270
Please provide an example course link so that we have all the necessary information in one issue.

[2015-08-06 11:27] dentarthur commented on #265
Thanks.

Workaround was to use the -i option and not worry about the files ignored, relying on noticing anything missing while manually checking each corresponding course tab when watching the downloaded videos. (Useful anyway because of potentially unsorted video file names and interspersed other content - quizes, links and text on some tabs with multiple videos).

Would still be desirable to put

[2015-08-06 11:40] balta2ar commented on #265
I agree, these options are useful. @rbrito, let's rename the issue according to the current understanding of the request?

[2015-08-06 12:36] dentarthur commented on #270
Example course links:

edx BUx: Math226.3x Nonlinear Differential Equations: Order and Chaos
https://courses.edx.org/courses/course-v1:BUx+Math226.3x+3T2015/info

 eg
https://courses.edx.org/courses/course-v1:BUx+Math226.3x+3T2015/courseware/1e125465349549858dafc4bf6916e60c/4d7c91a47efa426cb9ef7f1dd002b1e8/

Download button link is:
https://d2f1egay8yehza.cloudfront.net/BUX2263X/BUX2263XT215-V0025

[2015-08-08 09:50] iemejia commented on #265
Can you create an issue for the list of errors or number of errors ? I don't know if implementing this will be easy btw.

[2015-08-08 11:11] dentarthur opened #272 "Allow retries, list or count number of permanent errors at end of log"
Speedup proposed in #270 should make it feasible to allow retries. Number could be specified perhaps as a paramater to -i or another option. (Users might tolerate more retries when direct download button is available in a course than when it is not so slow lookups via Youtube are required).

At end of each run there should be both a count of the number of permanent errors after retries and a list

[2015-08-08 11:18] dentarthur opened #273 "Keep cache of course, section and file names and sequences to speed updates"
The structures maintained for counts as proposed in #272 could also be cached at the end of each run. This should enable an option for an update run to resume where the previous one left off which would be much faster.

Could also help elminate the problem I have seen in some courses (only noticed with coursera-dl) where a change in the organization of indexes eg by adding a new section or reversi

[2015-08-08 11:25] dentarthur commented on #265
Separate issue #272 and related issue #273 now created.

The only relevance of this issue now is the logs illustrating the desirability of retries.

Unless somebody thinks the problem illustrated here reveals something other than ignorance of the -i option I think this issue should now be closed. But I'll leave that up to others as I would not know whether it does or not.

[2015-08-10 10:13] newinnov opened #274 "Proxy Support"
Kindly provide proxy support for the edx-dl tool, may be a command line argument to input proxy.

I am getting this error, when I access this tool in a proxy network-

urllib.error.URLError: <urlopen error [WinError 10060] A connection attempt fai
ed because the connected party did not properly respond after a period of time,
or established connection failed because connected host has failed to re

[2015-08-10 16:21] Rinfore commented on #251
I have the exact same error with many other courses

[download] Downloaded/Introduction_to_Biology_-_The_Secret_of_Life/04-Week_2/11-MIT Gangnam Style (MIT 강남스타일)-lJtHNEDnrnY.mp4 has already been downloaded
[download] 100% of 103.75MiB
[download] https://courses.edx.org/courses/course-v1:MITx+7.00x_3+2T2015/xblock/block-v1:MITx+7.00x_3+2T2015+type@video+block@39936cbe05ee4e41b9c61811b2428566/handl

[2015-08-10 16:36] balta2ar commented on #251
@Rinfore What's your python version?

[2015-08-10 16:40] Rinfore commented on #251
Apple's default Python 2.7

[2015-08-10 16:49] balta2ar commented on #251
@Rinfore Try removing `.reason` part in exception handler. My pull request does exactly this. I think it should help.

[2015-08-10 17:05] Rinfore commented on #251
@balta2ar I can confirm that removing .reason fixed the problem, thanks!

[2015-08-10 17:29] balta2ar commented on #274
What kind of proxy do you need?

My first intention is to suggest you to try to solve this problem using external tools like [proxychains](http://proxychains.sourceforge.net/), [tsocks](http://tsocks.sourceforge.net/) or maybe configuring a [transparent proxy](http://www.tldp.org/HOWTO/TransparentProxy.html).

If the problem can be solved with these tools, I'd abstain from supporting it in the cod

[2015-08-10 17:44] balta2ar commented on #225
@phonx Sorry, I'm not quite getting what's the problem. I checked: both quoted and unquoted URLs work fine in my environment.

@iemejia @rbrito Is there anything to do in this issue? Please clarify (and possibly rename the title).

[2015-08-10 18:46] rbrito commented on #225
@balta2ar, to be honest, reading this I'm not really sure what the problem is, as there are 2 issues being discussed here:

1. the escaped/unescaped URL thing (which you told us that work fine).
2. the feature request of supporting mongodb university (for which @iemejia kindly created a new issue).

I guess that we can close this issue then, @phonx ? I'm closing this issue, but if you still have p

[2015-08-10 18:46] #225 closed

[2015-08-10 18:52] #251 closed

[2015-08-10 19:02] rbrito commented on #274
@newinnov, You are apparently using windows, right?

I'm not really sure if command line programs under windows follow the usual
convention of setting the environment variables `http_proxy` and
`https_proxy`, but you can try one of those, at least.

Please, note that I have 0 experience with Windows.

On Aug 10 2015, Yuri Bochkarev wrote:

100% agreed.

Thanks,

--
Rogério Brito : rbrito@{ime.usp.

[2015-08-11 07:58] newinnov commented on #274
@rbrito , Yes, I am using Windows.

Thankyou for pointing out 'http_proxy' and 'https_proxy' method.
It works fine.

Thank you again. :)

[2015-08-11 14:39] balta2ar commented on #42
@shk3 Did you manage to implement it?

[2015-08-15 00:46] rbrito commented on #274
@newinnov, can you help us contributing to our documentation with the steps that you took so that the program worked for you?

I think that many users would really appreciate such kind of instruction (which I can't particularly give, since I don't have Windows nor I need to use a proxy for my internet access).

Again, any kind of help with the documentation from our users (which I also regard as c

[2015-08-15 01:03] rbrito commented on #265
@dentarthur and others. Thank you for your help with separating the bug into smaller chunks.

I will close this bug then (you guys can also close the bugs if you feel like, BTW).

BTW number 2, for anybody that feels that some of these tasks are easy to tackle, please, go ahead.

I'm closing this bug report, since it is already referenced by others when we need it.

Thanks once again.

[2015-08-15 01:03] #265 closed

[2015-08-15 02:50] rbrito opened #276 "Integrate hypothesis with our test suite"
The first time that I saw property-based testing was with ScalaCheck about half a year ago.

It took me a few days to get the idea, and then I was simply hooked, because that is the way that I think that testing should really be done (by specifying properties that should hold with the code).

I recently discovered that there is one such implementation for Python called Hypothesis (https://hypothes

[2015-08-15 02:57] rbrito commented on #218
@shk3, the messages hat the program shows via the `logging` module could (should?) be translated for the users.

This includes, among other things, the help messages etc. Many years ago I played with internationalizing a toy python script and it worked fine with the little knowledge that I had. But now that we are using more strings that are generated for us (via, e.g., `argparse`), I don't know h

[2015-08-15 03:00] rbrito commented on #220
I will try to check this later, but I think that @balta2ar's fix (https://github.com/coursera-dl/edx-dl/commit/9b1a504df622aea5113ea1da255ae562b1ee1fc3) may have fixed the issue that I saw.

@bish4u, can you confirm if this issue is fixed for you, please?

[2015-08-15 03:08] rbrito commented on #214
I just added the "more-info-needed", since someone with an account there could help us with this thing (or even implement this).

I just don't feel like creating yet another account on another site to add support for this.

[2015-08-18 03:37] #269 closed

[2015-08-19 02:57] bhanuone opened #282 "Getting Error in Windows 10."
I have tried several times to download a course, but always getting this error

Traceback (most recent call last):
  File "edx-dl.py", line 6, in <module>
    edx_dl.main()
  File "C:\Users\bhanu\Downloads\Compressed\edx-dl-master\edx_dl\edx_dl.py", line 937, in main
    all_units = extractor(all_urls, headers)
  File "C:\Users\bhanu\Downloads\Compressed\edx-dl-master\edx_dl\edx_dl.py", line 413,

[2015-08-19 06:52] iemejia commented on #282
Can you please give more details:
https://github.com/coursera-dl/edx-dl#reporting-issues

And is your connection reliable ? (since it seems to be a network problem from the exception), can you try the script using a better connection.

[2015-08-19 12:42] iemejia opened #283 "Course Tree Hierarchy and download unification"
Hi,

I add @rbrito and @balta2ar messages from a previous commit to give a bit of
context and don't lose the subject in a commit message:

[2015-08-19 12:43] iemejia commented on #283
@rbrito said:
:
I talked some time ago with @iemejia about not treating the youtube urls as separate and just putting them on the list of resources, but he didn't agree.

I can see his reasoning, as, usually, some courses have the youtube video as their "primary thing". On the other hand, it may be worth experimenting with creating these classes in something like a tree, as in:

    each Course co

[2015-08-19 12:43] iemejia commented on #283
@balta2ar said:

I like the idea of having a tree. Thinking about that in my favorite "merge (edx + coursera)-dl" context, we could generate trees structured differently for different platforms, but have a single downloader module for all of them.

[2015-08-19 12:43] iemejia commented on #283
I insisted in treating the youtube urls differently since they were different
resources not in the logical sense, but explicitly in the way both edx-dl and
OpenEdX deal with them. They are (or at least were) extracted differently and
they are (and will) be downloaded differently:

I agree that from a logical sense the whole tree structure proposed by Rogerio,
and I think we must go ahead and chang

[2015-08-19 12:45] iemejia commented on #283
@baltasar idea is really good, since that would be a really easy to merge point
for both projects, since downloading is mostly equal, however we have to
consider the cases discussed, and also see that edx-dl does not depend in the
requests library (which in principle is the reason why I think it does not have
the recent SSL bug many times reported in coursera-dl)

[2015-08-19 12:52] iemejia commented on #283
Thinking a bit about it, the current data structures in the script represent too
different things:

1. The resources parsed from the website

   Course -> Section -> SubSection -> Unit -> [Video, Resource]

which we can integrate and represent fully with the proposed changes as:

   Course -> Section -> SubSection -> Unit -> Resource

2. The selections of the user so they can be downloaded

   sel

[2015-08-19 15:05] balta2ar commented on #283
Judging from the number of stargazers, audience of edx-dl is order of magnitude less than of coursera-dl. Maybe that's why there were no reports about SSL in edx-dl.

Resource -> [StaticResource, YoutubeResource, EdXSubtitleResource] so the
downloader can deal in the appropriate way with them.

Yes, yes and yes. That's a very good idea to separate resources, I second that.

Below are my thoughts o

[2015-08-19 15:31] iemejia commented on #283
This is already separated, but probably we have to make it more explicit with
some refactoring.

Amen. We are really aligned in this subject, if you check the current download
functions go in that direction, actually I tried to move the downloader class
from coursera just to finish this, but I desisted when I saw the requests
dependency. Any help here to write a more robust (and compatible) downlo

[2015-08-19 15:46] balta2ar commented on #283
Could you share more details on what exactly needs to be done with downloader? You sound like it might be a better idea to port downloader from edx to coursera, as the former one does not use requests.

[2015-08-19 17:07] hxhxd commented on #168
Just edx-dl is ok imho. And the sooner the better.
Thanks Ismael :)

[2015-08-19 19:48] iemejia commented on #283
The current downloader is basically the simplest downloader I could implement,
you can find the code in the file [edx_dl, in the download_url function](https://github.com/coursera-dl/edx-dl/blob/9e2b46744d98ca893a61d6af07323749df06cdc1/edx_dl/edx_dl.py#L609), as you can read, this one lacks in many senses:

1. It does not recover from partial downloads
2. It does not support retries in case of err

[2015-08-20 15:33] bhanuone commented on #282
My internet connection is working fine. But still getting this error. Do I need a faster connection?. I am using a 1Mbps ADSL line.

[2015-08-20 15:36] bhanuone commented on #282
Yes. May be you are right. I don't face any problems now.

[2015-08-20 15:36] #282 closed

[2015-08-21 14:53] dentarthur opened #285 "edx AP Macroeconomics download starts ok, wanders off collecting youtubes"
Appears to be confusing youtube recommendations of other videos that are displayed at sides of youtube pages with intended course videos. Presumably some recent youtube change so critical.

Command and partial listing of 403 items, totalling 11.1 GB downloaded so far instead of just s.03 of the course below. Version was installed 2015-07-30 and has worked ok for other edx courses since then except

[2015-08-21 16:36] balta2ar commented on #285
Thank you for the report! I've reproduced the behavior. The interesting part of the log is:

[code]

I don't think recommendations are related. I think It has found some youtube channels (`https://www.youtube.com/user/khanacademy`, `https://www.youtube.com/user/ACDCLeadership`) on the course page in the section of recommended materials and it tried to download them all.

As a temporary solution ad

[2015-08-21 20:58] dentarthur commented on #285
Thanks so I have now interrupted at s.11 Money Creation with 5 more sections to go. 1,667 items, totalling 29.3 GB.

I am assuming I should not try temporary solution:
--youtube-dl-options="--flat-playlist"
as it does not work for others. Will wait for progress.

PS Looks like quite a useful collection from Khan Acadamy!

[2015-08-22 19:18] shk3 commented on #218
@silpol @rbrito Sorry for the late response. My inbox has been overflowed by the notifications.
In terms of localization, I am not sure how much users of edx really need localization, as edx currently only serves in English. Would users really need a non-English CLI tool?

@rbrito I don't have experience with i18n for Python CLI either. I've done some i18n over Django.
How much i18n would CLIs hav

[2015-08-22 19:31] balta2ar commented on #218
I tend to agree that i18n for CLI tool feels questinable to me. First, it's additional work for developers, but also keep in mind that when something breaks, users may send issue report in their local language, which might be an unnecessay complication for us to investigate the issue.

[2015-08-22 19:42] shk3 commented on #218
@balta2ar I feel like we don't need worry too much about user reports as currently our GitHub pages are in English, which should discourage users from sending context in their native languages.

@rbrito Is there a reason why we need i18n? Is it because we want to allow more users to use our tool? In that case, maybe a GUI would be more helpful, and i18n on GUI should be easier.

[2015-08-29 22:51] rbrito commented on #220
Since we have not heard back from others, I am closing this bug.

[2015-08-29 22:51] #220 closed

[2015-08-29 23:02] rbrito commented on #218
@shk3, there are many CLI programs that are translated (e.g., those from the GNU project).

But I guess that we should invest better our resources and move on to provide a GUI, even if it is very simple. I originally proposed something like this on coursera-dl about two years ago: https://github.com/coursera-dl/coursera-dl/issues/184

You guys convinced me and I'm changing this bug report to be to

[2015-08-30 11:16] alokjadhav opened #286 "downloader fails if no video exists"
I was trying to download the videos from one of the latest courses on edx on HTML5. Course URL (https://courses.edx.org/courses/course-v1:W3Cx+W3C-HTML5+2015T3/info). The downloader was failing everytime i was trying to download. After some debugging and playing the code, I found out that if the len(unit.videos) is 0 in download_unit function then it raises exception and the program crashes. For m

[2015-09-03 06:53] balta2ar opened #287 "Add support for http://complexityexplorer.org/"
Placeholder.

[2015-09-10 07:36] sicaps opened #288 "Download fails from the FUN platform"
Error message below with debug feature turned on:

Awesome-MacBook-Pro:edx-dl macbookpro$ ./edx-dl.py -u ***** -p ****** -x fun https://www.france-universite-numerique-mooc.fr/courses/lyon3/26001/Trimestre_1_2015/info --debug
root[edx_get_headers] Building initial headers for future requests.
root[_get_initial_token] Getting initial CSRF token.
root[_get_initial_token] Found CSRF token.
root[edx_g

[2015-09-10 09:58] rbrito commented on #288
I have no experience with FUN, but the log says that there was a timeout. Can you try to repeat it? Otherwise, I guess that @iemejia is the person to help you here.

[2015-09-10 10:59] sicaps commented on #288
Just tried again, same result.

Kind Regards,

--Lamine Sano-Ouattara

An army of sheep led by a lion would defeat an army of lions led by a sheep.

On Thu, Sep 10, 2015 at 9:58 AM, Rogério Brito <notifications@github.com>
wrote:

[2015-09-10 14:21] K0T3R opened #289 "ERROR: Content too short"
operating system/version - windows 8.1 enterprise.
Python version - 3.4.3
Version of youtube-dl -  2015.9.9
course (the URL) with problem:https://courses.edx.org/courses/BerkeleyX/BJC.1x/3T2015/info

C:\Users\kkalyana\Downloads\edx-dl-master\edx-dl-master>python edx-dl.py -o C:\U
sers\kkalyana\Desktop\edx -u k.koushik@gmail.com https://courses.edx.org/courses
/BerkeleyX/BJC.1x/3T2015/info
Password

[2015-09-10 14:46] balta2ar commented on #289
This might happen due to unreliable Internet connection. Try running the script several times (and/or disable other traffic consumers, such as torrents; if possible, upgrade your Internet connection).

[2015-09-10 15:02] K0T3R commented on #289
Thank you for the quick update. You are correct - a retry without deleting already created files seem to renew without issues. I am keeping my fingers crossed.

My internet speed is slow - hence downloading instead of streaming.

Thanks again!

[2015-09-11 16:45] K0T3R opened #290 "ERROR: unable to download video info webpage"
operating system/version - windows 8.1 enterprise.
Python version - 3.4.3
Version of youtube-dl - 2015.9.9
course (the URL) with problem:https://courses.edx.org/courses/coursev1:BerkeleyX+GG101x+3T2015/info

Output directory: C:\Users\kkalyana\Desktop\edx
[download] https://youtube.com/watch?v=OEoXaMPEzfM => C:\Users\kkalyana\Desktop\
edx\The_Science_of_Happiness\01-How_to_Navigate_this_Course\01-

[2015-09-12 09:11] iemejia commented on #290
This issue seems like other previously reported issues, if it is the case it happens when you have an unreliable connection, can you try to execute the script again in a place with a better connection ?
I know it is not 'a solution' but it still is an issue who has been consistently related to unreliable networking.

[2015-09-14 02:26] shk3 commented on #42
@balta2ar Honestly, I didn't. :-/
The code base has been changed dramatically, and I actually need some time to get familiar with it.

[2015-09-14 20:40] thelostelite opened #291 "Error in downloading courses' videos"
Hello :)
I was trying to download a course , but it failed .. I couldn't find a similar issue on this community so I hope I get some help

I Uploaded a screenshot of what I'd got (below)

I am Windows 10 Pro
Youtube-dl version 2015.09.09
Python version 3.4.3

Here's the screenshot ..
![1-3](https://cloud.githubusercontent.com/assets/5514528/9861147/e5f14b1a-5b30-11e5-884a-348055ed5a01.jpg)

[2015-09-15 04:08] balta2ar commented on #291
The problem is that the script cannot execute youtube-dl, because it cannot
be found. Make sure youtube-dl is in your PATH variable, that it's properly
installed and available.
14 сент. 2015 г. 11:40 PM пользователь "Marwan Shehata" <
notifications@github.com> написал:

[2015-09-15 07:43] thelostelite commented on #291
@balta2ar  thanks alot !!!! I've added **C:\Python34\Scripts** to the environment variables and now it's working ! you just saved my ass :dango:

[2015-09-15 08:54] #291 closed

[2015-09-19 15:10] Xilokun opened #292 "Where should i put the youtube_dl inside the edx-dl-master folder?"
Hi Sir,
I'm confusing about this probelm.
I want to know the path for put the "youtube-dl-master" folder or i  shouldn't put the floder?
SInce i use this command   "python edx-dl.py -u user@user.com COURSE_URL"

and showed a error which said that  "WindowsError: [Error 2] The system cannot find the file specified"
I've read this https://github.com/coursera-dl/edx-dl/issues/163 but i still can't ge

[2015-09-19 15:18] Xilokun commented on #292
![untitle02d](https://cloud.githubusercontent.com/assets/9381072/9976883/ac84c490-5f24-11e5-8ed9-6a6d1f3b9a58.png)

[2015-09-19 19:59] balta2ar commented on #292
How did you install it? You may want to refer to this question to see if something works for you: http://stackoverflow.com/questions/4750806/how-to-install-pip-on-windows

After `pip` is installed, you install `youtube-dl`: `pip install --upgrade youtube_dl`. This command should be entered and run the same way you run edx-dl.

Also, take a look at this issue: https://github.com/coursera-dl/edx-dl/

[2015-09-22 13:22] balta2ar opened #293 "Handle empty courseware gracefully"
There is a course with empty courseware, e.g.: https://courses.edx.org/courses/course-v1:W3Cx+HTML5.1x+4T2015/info

This message is printed:
[code]

Script should be more user-friendly and reliable.

[2015-09-22 13:24] balta2ar commented on #293
Possible duplicate of #286 but it needs to be checked.

[2015-09-22 13:26] balta2ar commented on #289
Looks like the problem is fixed by restarting downloader several times. Reopen if needed.

[2015-09-22 13:43] K0T3R commented on #289
I am still facing the same issue. I do not know how to reopen this issue though.

[2015-09-25 07:22] #293 closed

[2015-09-26 22:29] pangjac opened #296 "install problem"
Dear talents,
I suppose there should be somesteps to install edx-dl such as:
pip install edx

but there is not (which I am wondering why). Then I followed instruction first for below

pip install -r requirements.txt

Got error message :
Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

I have used pip install upgrade youtube-dl successfully. Is there any in

[2015-09-27 00:13] pangjac commented on #296
Hi Talents,
Sorry I didn't think throughly.
Basically, just download the master, and directly use in shell. There is no need to install edx beforehand.
Ticket closed =)

[2015-09-27 00:13] #296 closed

[2015-09-29 13:29] ChrisP4 opened #297 "Download quiz/questions after videos"
The edx-dl is great for downloading the videos of the lectures and other materials! :+1:
However, a great aspect of the courses are the follow up questions which help you understand what you've learnt this far.
Would it be possible to download them quizzes? :)

An example of what I'm referring to:
![searching2](https://cloud.githubusercontent.com/assets/14283056/10165287/1d9523e2-66c7-11e5-9cb1-3e

[2015-09-29 14:08] balta2ar commented on #297
Duplicate of #102

[2015-09-29 14:08] #297 closed

[2015-09-29 16:22] kevw22 opened #298 "Downloading Error"
I'm facing the following error when downloading... I think this may not have to do with edx-dl.py itself, but something with downloading from Youtube. Specifically,

[youtube] B22arpiRTes: Downloading webpage
ERROR: Unable to download webpage: <urlopen error [SSL: CERTIFICATE_VERIFY
D] certificate verify failed (_ssl.c:590)> (caused by URLError(SSLError(1,
L: CERTIFICATE_VERIFY_FAILED] certificate

[2015-09-29 17:10] ChrisP4 commented on #297
Oh, I'm sorry, hadn't looked into that before I made my case.

[2015-09-29 18:05] balta2ar commented on #298
SSL problem is one of the top problems that are reported here, @rbrito. Do we have a robust solution? Should we put it into README?

Meanwhile, @kevw22, take a look at this comment: https://github.com/coursera-dl/coursera-dl/issues/402#issuecomment-143319953

[2015-09-29 18:21] kevw22 commented on #298
Hi @balta2ar , how would I implement that on a Windows system them? Could you provide more detailed instruction as to how to update the certificates?

[2015-09-29 18:37] balta2ar commented on #298
Not sure about how to update certs on Windows. That requires thorough Googling :)

However, try adding this option: `--youtube-dl-options "--no-check-certificate"`. That will hopefully make youtube-dl ignore the certificates.

[2015-09-29 18:45] kevw22 commented on #298
@balta2ar Sorry to bother you again... but the additional command leads to the following error...

edx-dl: error: argument --youtube-dl-options: expected one argument

[2015-09-29 19:06] balta2ar commented on #298
Oh, then it must be equals sign, like this: `--youtube-dl-options="--no-check-certificate"`.

[2015-09-29 19:26] kevw22 commented on #298
@balta2ar  Thanks! it is now working.

[2015-10-02 10:09] x-ji opened #299 "Can I skip an unreachable video and continue to download the rest?"
For some reason, when I'm downloading the [Artificial Intelligence](https://www.edx.org/course/artificial-intelligence-uc-berkeleyx-cs188-1x) course on edX, `edx-dl` keeps getting stuck at one particular video, reporting a HTTP 404 error. The previous videos have all been correctly downloaded. However, upon encountering this error, `edx-dl` immediately exits. I suppose it's something peculiar with

[2015-10-02 10:13] x-ji opened #300 "edx-dl getting wrong YouTube URL for video"
For some reason when I'm downloading the course [Artificial Intelligence](https://www.edx.org/course/artificial-intelligence-uc-berkeleyx-cs188-1x) from edX, `edx-dl` keeps getting stuck at one video with 404 error (The previous videos were downloaded fine). The error trace suggests that it somehow gets the URL wrong, with a strange URL of `https://youtube.com/watch?v=https://d2f`:

[code]

System

[2015-10-03 13:21] Xilokun commented on #292
Here's the problem now.
All i've entered the Course_LINK was No downloadanle video
But i've tired before , it's can be download by the edx-dl , and i don't know the reason why i can't download now.

![44556untitled](https://cloud.githubusercontent.com/assets/9381072/10263121/754ee69a-6a14-11e5-8a3e-1a30fd81b7bb.png)

[2015-10-04 03:57] yepu opened #301 "Can't download videos from any courses."
Failed to download on https://courses.edx.org/courses/course-v1:MITx+8.421.1x+3T2015/info, https://courses.edx.org/courses/course-v1:MITx+CTL.SC2x+3T2015/info. It says 'No downloadable video found.'.

--list-sections brings 'Atomic and Optical Physics I part 1: Resonance [course-v1:MITx+8.421.1x+3T2015] has 0 sections so far'.

Tried on old course that used to work https://courses.edx.org/courses/

[2015-10-04 04:02] yepu commented on #301
OS: fedora
python version: 2.7.10
youtube_dl version: 2015.09.09

[2015-10-04 08:45] yehezkielbs commented on #301
Same here.

OS: Ubuntu 14.04.1
Python: 2.7.6
youtube_dl: youtube-dl-2015.9.28

https://courses.edx.org/courses/course-v1:WellesleyX+ANTH207x_3+3T-2015/info

https://courses.edx.org/courses/course-v1:HarvardX+HUM1.2x+3T2015/info

[2015-10-04 09:36] pinguh commented on #301
Same.

OS: Mint 17.1
Python: 2.7.6
youtube_dl; 2015.07.21

[2015-10-04 10:21] vmaharda commented on #301
Same here and I am also using this common to upgrade  but getting an error
--------------------------------------------------------------------------------------------------------------------
Building initial headers for future requests.
Getting initial CSRF token.
Found CSRF token.
Logging into Open edX site: https://courses.edx.org/login_ajax
Extracting course information from dashboard.
Downloa

[2015-10-04 17:56] iemejia commented on #286
I am closing this since it is a duplicate of the already fixed issue #293.
Please feel free to re-open the issue if it still persists.

[2015-10-04 17:56] #286 closed

[2015-10-05 01:34] #301 closed

[2015-10-05 20:02] kevw22 opened #303 "All courses have 0 sections to download"
Trying to download using edx-dl today, but all courses are showing to have 0 sections to download even though  they are active. Login-in and access to dashboard is successful.

[code]

[2015-10-05 20:52] balta2ar commented on #303
This is because of recent edx changes. Please use the latest github version.

[2015-10-06 00:29] kevw22 commented on #303
Thanks!

[2015-10-06 09:35] #303 closed

[2015-10-06 10:13] alexott opened #304 "edx-dl downloads the same content multiple times"
Hi

First - thank you for very useful tool - it helps a lot.

I want to report the issue that I found in the current git version when downloading the https://courses.edx.org/courses/BerkeleyX/CS100.1x/1T2015/info - in the first lecture, I found that some files are downloaded multiple times, but with different names. For example, I got following files:

    251336 -rw-rw-r--  1 ott  staff  12868265

[2015-10-06 10:55] balta2ar commented on #304
Duplicate of #249.

[2015-10-06 11:03] alexott commented on #304
Yes, maybe - I was confused by statement that duplicating happens on the 2nd run, but I got duplicate content on the 1st run.

[2015-10-06 11:13] balta2ar commented on #304
It looks like the link you mentioned is present twice: in "Outline" section and in "Doing data science" section, but because they are in different sections, they get different prefixes (14 and 17) and thus are downloaded twice.

This is not a solution to the problem of edx-dl, but you might want to use [hardlink](http://jak-linux.org/projects/hardlink/) tool to automatically find duplicate files a

[2015-10-06 11:33] alexott commented on #304
But it was really downloaded, and this is quite big file - ~130mb. I don't
have problem with space on disk, the problem is with traffic.  So maybe,
the tool itself can handle hard/sym links in such cases, instead of
downloading?

On Tuesday, October 6, 2015, Yuri Bochkarev <notifications@github.com>
wrote:

--
With best wishes,                    Alex Ott
http://alexott.net/
Twitter: alexott_en (E

[2015-10-06 11:53] balta2ar commented on #304
Sure, I totally acknowledge the problem.

[2015-10-07 01:06] phonx opened #305 "can't download video??? did edx change again??"
https://courses.edx.org/courses/BerkeleyX/BJC.1x/3T2015/info
Building initial headers for future requests.
Getting initial CSRF token.
Found CSRF token.
Logging into Open edX site: https://courses.edx.org/login_ajax
Extracting course information from dashboard.
Downloading The Beauty and Joy of Computing (CS Principles), Part 1 [BerkeleyX/BJC.1x/3T2015]
Downloading 0 section(s)
Extracting all unit

[2015-10-07 01:09] phonx commented on #305
all good with lastest version - :)

[2015-10-07 01:09] #305 closed

[2015-10-10 11:30] phonx opened #307 "any support for iversity yet"

[2015-10-13 10:38] price1d commented on #298
@balta2ar I modified your code as follows and it works well:
    parser.add_argument('--youtube-dl-options',
                        dest='youtube_dl_options',
                        action='store',
                        default='--no-check-certificate',
                        help='set extra options to pass to youtube-dl')

[2015-10-13 10:45] jrao1 commented on #274
Just run the following command on command line before running edx-dl:

`set http_proxy=http://<proxy host>:<proxy port>`

[2015-10-15 04:14] Smitty010 opened #309 "Windows error trying to run edx-dl"
Tried to run edx-dl (Windows 7, 64bit, python 2.7). I'm trying to load the first item listed. This was a refresh install tonight.  I did a "pip install -r requirements.txt" and it seemed to complete normally. Got the following error:

D:\edx-dl>python edx-dl.py -u somename@gmail.com --list-courses
Password:
Building initial headers for future requests.
Getting initial CSRF token.
Found CSRF token.

[2015-10-15 07:10] sadatned opened #310 "Not able to download any of the edx courses"
Earlier, (1 month back). I am able to download edx courses. Recently, I tried to download but it is not allowing to download anything.

Just want to know is there any change

C:\github.com\edx-dl>python edx-dl.py -u useremail@gmail.com -p abcdef https://courses.edx.org/courses/BerkeleyX/CS-169.2x/2013_Summer/info
Building initial headers for future requests.
Getting initial CSRF token.
Found CSRF

[2015-10-15 07:40] balta2ar commented on #310
Edx has changed their structure a bit recently. Please use the latest version from github (not pip). It is fixed there.

[2015-10-15 07:40] #310 closed

[2015-10-16 05:58] analkumar2 opened #311 "Fatal error in launcher: Unable to create process using ....."
I am using windows 8.1. Not able to download because of some error. Please help. I am very new to python.

E:\study\edx-dl-master\edx-dl-master>python edx-dl.py -u analkumar2@gmail.com ht
tps://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/info
Password:
Building initial headers for future requests.
Getting initial CSRF token.
Found CSRF token.
Logging into Open edX site: https://courses.edx.o

[2015-10-20 07:03] prakashr85 opened #313 "[Import Error] Attempted relative import in non-package"
I am getting the below mentioned error while running it (python 2.7 win 7 64bit)

Traceback (most recent call last):
  File "edx_dl.py", line 33, in <module>
    from .common import (
ValueError: Attempted relative import in non-package

[2015-10-25 02:51] balajib-amrita opened #314 "Error"
Traceback (most recent call last):
  File "edx-dl.py", line 6, in <module>
    edx_dl.main()
  File "C:\Users\Balaji B\Downloads\Compressed\edx-dl-master\edx-dl-master\edx_dl\edx_dl.py", line 952, in main
    all_units = extractor(all_urls, headers)
  File "C:\Users\Balaji B\Downloads\Compressed\edx-dl-master\edx-dl-master\edx_dl\edx_dl.py", line 427, in extract_all_units_in_parallel
    units = p

[2015-10-25 08:32] balta2ar commented on #314
This is most likely your Internet connection. Try running the script again.

[2015-10-26 04:40] balajib-amrita commented on #314
Thanks i will try it out

Thanks & Regards
From
Balaji B
+91 9677796059

On Sun, Oct 25, 2015 at 2:02 PM, Yuri Bochkarev <notifications@github.com>
wrote:

[2015-10-26 08:22] Xilokun opened #315 "No downloadable video"
All i've entered the Course_LINK was No downloadable video
But i've tried before , it's can be download by the edx-dl , and i don't know the reason why i can't download now.

![](https://cloud.githubusercontent.com/assets/9381072/10263121/754ee69a-6a14-11e5-8a3e-1a30fd81b7bb.png)

[2015-11-03 01:05] bicepjai commented on #301
same here
`pip3 install edx-dl
Collecting edx-dl
  Could not find a version that satisfies the requirement edx-dl (from versions: )
No matching distribution found for edx-dl`

[2015-11-05 10:29] safdar53 opened #316 "Getting an error"
Got SSL/Connection error: HTTP Error 404: Not Found
Traceback (most recent call last):
  File "edx-dl.py", line 6, in <module>
    edx_dl.main()
  File "C:\Python34\edx-dl-master\edx_dl\edx_dl.py", line 975, in main
    download(args, selections, all_units, headers)
  File "C:\Python34\edx-dl-master\edx_dl\edx_dl.py", line 764, in download
    headers)
  File "C:\Python34\edx-dl-master\edx_dl\edx_

[2015-11-05 12:46] balta2ar commented on #316
@safdar53
1. Provide class URL so that developers can reproduce it.
2. Are you using the latest version? Did you try latest version from github?

[2015-11-05 12:50] safdar53 commented on #316
1. Here is the course URL, https://www.edx.org/course/product-design-delft-design-approach-delftx-dda691xThe same happens with this course as well, https://www.edx.org/course/innovation-generation-how-be-creative-uthealthsphx-inov101x2. I am using python 3.4. I downloaded the script folder from GitHub.

     On Thursday, November 5, 2015 2:46 PM, Yuri Bochkarev <notifications@github.com> wrote: